background-image:/* Colors */

.black{
  color: black;
}
.white{
  color: #f0f0f0;
}
.bg-black{
  background-color: black;
}
.bg-white{
  background-color: #f0f0f0;
}

/* Navigation Bar */

#navigation-bar{
  background-color:rgba(0, 0, 0, 0.0);
  -webkit-backdrop-filter: blur(0px);
  backdrop-filter: blur(0px);
  z-index: 3;
}

[data-sticky] {
    width: 100%;
}

.top-bar {
    padding: 1rem;
    transition: padding .25s ease;
}

.is-stuck .top-bar {
    padding: 0.5rem 1.5rem;
    transition: padding .25s ease;
}

/* Sections */

.about-section, .sponsors-section, .projects-section, .contact-section{
  padding-bottom: 4rem;
  padding-top: 2rem;
  text-align: center;
}

.about-section p{
  margin: auto;
  width: 75%
}

.project-card{
  width: 100%;
  border-radius: 10px;
  color: #f0f0f0
}

@media screen and (min-width: 64em) {
  .project-card{
    height: 20rem;
  }
}
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .project-card{
    height: 17rem;
  }
}
@media screen and (max-width: 39.9375em) {
  .project-card{
    height: 14rem;
  }
}


@media screen and (min-width: 64em) {
  #home-logo-heading{
    width: 25rem;
  }
}
@media screen and (max-width: 63.9375em) {
  #home-logo{
    width: 25vw;
  }
  #home-logo-heading{
    width: 50vw;
  }
}
@media screen and (max-width: 39.9375em) {
  #home-logo{
    width: 40vw;
  }
  #home-logo-heading{
    width: 60vw;
  }
}
@media screen and (max-width: 63.9375em) {
  #home-container{
    width: 100vw;
}
}
.contact-section{
  text-align: left;
  background: url(../images/png/bg/map.jpg);
}

.location-marker{
  position: absolute;
  top: 85%;
  right: 22%
}

/* Font */

h1 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 100;
  line-height: 44px;
}
h2 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 100;
  line-height: 44px;
}
h3 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 15.4px;
}
h4 {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 0.8rem;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 500;
  line-height: 15.4px;
}
p {
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
font-size: 14px;
font-style: normal;
font-variant: normal;
font-weight: 400;
line-height: 20px;
}
a {
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: 400;
color: white;
}
a:hover{
  color: white;
}
a:visited{
  color: white;
}
button {
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
font-style: normal;
font-variant: normal;
font-weight: 500;
}


#particles-js {
position: absolute;
width: 100%;
height: 100%;
background-image: url("");
background-repeat: no-repeat;
background-size: cover;
background-position: 50% 50%;
/* background: #6819e8;  */
/* background: -moz-linear-gradient(left, #6819e8 0%, #7437d0 35%, #615fde 68%, #6980f2 100%); */
background: -webkit-linear-gradient(to top, rgb(252,173,63) 22%,rgb(254,88,49) 100%);
background: linear-gradient(to top, rgb(0, 0, 0) 22%,rgb(0, 0, 0) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2f2f30',GradientType=1 );
}

 .nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(254,88,49);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.nav-link{
  color: #f0f0f0;
  position: relative;
  text-decoration: none;
}
.nav-link:hover{
  /* color: rgb(254,88,49); */
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 1);
}
.nav-link:hover:before{
  visibility: visible;
-webkit-transform: scaleX(1);
transform: scaleX(1);
}

input[type="text"], textarea{
  background-color: transparent;
  border: 2px solid #f0f0f0;
}

input[type="text"]:focus, textarea:focus{
 background-color: rgba(0, 0, 0, 0.5);
 border: 2px solid rgb(254,88,49);
 box-shadow: 0 0 10px rgb(254,88,49);
}

@supports ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px)) ) {
  input[type="text"]:focus, textarea:focus{
   /* background-color: #f0f0f0; */
   background-color: rgba(0, 0, 0, 0.3);
   backdrop-filter: blur(20px);
   -webkit-backdrop-filter: blur(20px);
   border: 2px solid rgb(254,88,49);
   box-shadow: 0 0 10px rgb(254,88,49);
 }
}

::-moz-selection { /* Code for Firefox */
    color: white;
    background: rgb(254,88,49);
}

::selection {
    color: white;
    background: rgb(254,88,49);
}

#projects-button{
  border: 2px solid #000000;
  background-color: transparent;
  color: #000000;
  transition: all 0.3s;
}

#submit-button, #sponsorship-button{
  border: 2px solid #f0f0f0;
  background-color: transparent;
  color: #f0f0f0;
  transition: all 0.3s;
}

#submit-button:hover, #sponsorship-button:hover, #projects-button:hover{
  background: rgb(254,88,49);
  border: 2px solid rgb(254,88,49);
  color: #ffffff;
  transform: scale(1.1);
}

.card{
  box-shadow: 5px 5px 25px grey;
  border: 0;
}

#wall-e{
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.0)), url(../images/png/bg/wall-e.jpg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-repeat:no-repeat;
  background-size: cover;
  transition: all 0.3s;
}
#wall-e:hover{
  /* background: linear-gradient(to top, rgba(252,173,63, 0.7) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/wall-e.jpg); */
  background: url(../images/png/bg/wall-e.jpg);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  background-repeat:no-repeat;
  background-size: cover;
  transform: scale(1.1);
}
#mahindra{
  background: linear-gradient(0deg,rgba(0, 0, 0, 0.0),rgba(0, 0, 0, 0.0)), url(../images/png/bg/eve.jpg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-repeat:no-repeat;
  background-size: cover;
  transition: all 0.3s;
}
#mahindra:hover{
  background: url(../images/png/bg/eve.jpg);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  background-repeat:no-repeat;
  background-size: cover;
  transform: scale(1.1);
}
#igvc{
  background: url(../images/png/bg/adam.jpg);
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-repeat:no-repeat;
  background-size: cover;
  transition: all 0.3s;

}
#igvc:hover{
  background: url(../images/png/bg/adam.jpg);
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  background-repeat:no-repeat;
  background-size: cover;
  transform: scale(1.1);
}

/* Sponsor Logos */

.sponsor-logo{
  width: 100%;
  height: 6rem;
  background-repeat:no-repeat;
  background-size: cover;
  transition: all 0.3s;
}
.sponsor-logo:hover{
  background-repeat:no-repeat;
  background-size: cover;
  transform: scale(1.1);
  box-shadow: 0px 0px 25px grey;
}

#bossard{
  background-image: url(../images/png/bg/bossard.jpg);
}
#bossard:hover{
  background: linear-gradient(to top, rgba(252,173,63, 0.85) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/bossard.jpg);
}
#sica{
  background-image: url(../images/png/bg/sica.jpg);
}
#sica:hover{
  background-image: linear-gradient(to top, rgba(252,173,63, 0.85) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/sica.jpg);
}
#indian-bank{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../images/png/bg/indian-bank.jpg);
}
#indian-bank:hover{
  background-image: linear-gradient(to top, rgba(252,173,63, 0.85) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/indian-bank.jpg);
}
#pepperl-fuchs{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../images/png/bg/pepperl-fuchs.jpg);
}
#pepperl-fuchs:hover{
  background-image: linear-gradient(to top, rgba(252,173,63, 0.85) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/pepperl-fuchs.jpg);
}
#gigabyte{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../images/png/bg/gigabyte.jpg);
}
#gigabyte:hover{
  background-image: linear-gradient(to top, rgba(252,173,63, 0.85) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/vector.jpg);
}
#vector{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../images/png/bg/vector.jpg);
}
#vector:hover{
  background-image: linear-gradient(to top, rgba(252,173,63, 0.85) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/vector.jpg);
}
#cooler-master{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../images/png/bg/cooler-master.jpg);
}
#cooler-master:hover{
  background-image: linear-gradient(to top, rgba(252,173,63, 0.85) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/cooler-master.jpg);
}
#microsoft{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../images/png/bg/microsoft.jpg);
}
#microsoft:hover{
  background-image: linear-gradient(to top, rgba(252,173,63, 0.85) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/microsoft.jpg);
}
#ximea{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../images/png/bg/ximea.jpg);
}
#ximea:hover{
  background-image: linear-gradient(to top, rgba(252,173,63, 0.85) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/ximea.jpg);
}
#national-instruments{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../images/png/bg/national-instruments.jpg);
}
#national-instruments:hover{
  background-image: linear-gradient(to top, rgba(252,173,63, 0.85) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/national-instruments.jpg);
}
#nvidia{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../images/png/bg/nvidia.jpg);
}
#nvidia:hover{
  background-image: linear-gradient(to top, rgba(252,173,63, 0.85) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/nvidia.jpg);
}
#sick{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../images/png/bg/sick.jpg);
}
#sick:hover{
  background-image: linear-gradient(to top, rgba(252,173,63, 0.85) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/sick.jpg);
}
#mahindra-rise{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../images/png/bg/mahindra.jpg);
}
#mahindra-rise:hover{
  background: linear-gradient(to top, rgba(252,173,63, 0.85) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/mahindra.jpg);
}
#continental{
  background-image: linear-gradient(0deg,rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../images/png/bg/continental.jpg);
}
#continental:hover{
  background-image: linear-gradient(to top, rgba(252,173,63, 0.85) 22%,rgba(254,88,49, 0.85) 100%), url(../images/png/bg/continental.jpg);
}
