<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  <title>Project MANAS</title>
  <meta charset="UTF-8">
  <meta name="description" content="AI Robotics Project" />
  <meta name="keywords" content="AI, Robotics, MIT, Manipal">
  <meta name="author" content="Shrijit Singh">
  <meta name="powered-by" content="Dheeraj Mohan">
  <meta name="design" content="Sarathkrishnan Ramesh">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="apple-touch-icon" sizes="180x180" href="/static/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicons/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicons/favicon-16x16.png">
  <link rel="manifest" href="/static/favicons/site.webmanifest">
  <link rel="mask-icon" href="/static/favicons/safari-pinned-tab.svg" color="#fe5831">
  <link rel="shortcut icon" href="/static/favicons/favicon.ico">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="/static/favicons/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link type="text/css" rel="stylesheet" href="/static/css/foundation.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/common.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/navigation.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/footer.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/blog.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/post.css" />
  <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link type="text/css" rel="stylesheet" href="/static/css/highlight/github.css">
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107451406-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag() { dataLayer.push(arguments); }
  gtag('js', new Date());

  gtag('config', 'UA-107451406-1');
</script>

<body>

  <!-- Navigation Bar -->
  <div data-sticky-container>
    <div data-sticky data-margin-top='0' data-sticky-on="small" data-top-anchor="main-container:top">
      <div class="title-bar" data-responsive-toggle="navigation-bar" data-hide-for="medium">
        <div class="title-bar-left">
          <img src="/static/images/png/manas-logo-gradient.png" width="40px" alt="Project MANAS Logo" />
          <img src="/static/images/png/project-manas.png" width="100px" alt="Project MANAS" />
        </div>
        <div class="title-bar-right">
          <button class="menu-icon right" type="button" data-toggle="navigation-bar"></button>
        </div>
      </div>
      <div class="top-bar" id="navigation-bar">
        <div class="top-bar-title show-for-medium">
          <img src="/static/images/png/manas-logo-gradient.png" width="40px" alt="Project MANAS Logo" />
          <img src="/static/images/png/project-manas.png" width="90px" alt="Project MANAS" />
        </div>
        <div class="top-bar-right">
          <ul class="dropdown vertical medium-horizontal menu transparent" data-magellan data-options="animationEasing: linear; animationDuration: 500; threshold: 0;">
            <li>
              <a class="nav-link" href="/#home">Home</a>
            </li>
            <li>
              <a class="nav-link" href="/#about">About Us</a>
            </li>
            <li>
              <a class="nav-link" href="/teams">Team</a>
            </li>
            <li>
              <a class="nav-link" href="/#sponsors">Sponsors</a>
            </li>
            <li>
              <a class="nav-link" href="/#projects">Projects</a>
            </li>
            <li>
              <a class="nav-link" href="/recruitments">Recruitments</a>
            </li>
            <li>
              <a class="nav-link" href="/blogs">Blog</a>
            </li>
            <li>
              <a class="nav-link" href="/#contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Container -->
  <div id="main-container">
    <!-- Header -->
    <section class="header text-center">
      <div class="header-content">
        <div class="site-title-content">
          <div class="blog-title">
            <h1 class="black">MANAS BLOG</h1>
          </div>
          <div class="blog-description">
            <h4>Decoding bits for you</h4>
          </div>
        </div>
        <div class="binary-backround">
          <div class="num">01001001010001010100001101010011010001010101001101110101011000110110101101110011</div>
        </div>
        <div class="buzz-background">
          <div class="buzz">ProjectManasArtificialIntelligenceRoboticsAutonomusBotIGVCSelfDrivingCar</div>
        </div>
      </div>
    </section>


    <section class="blog blog-post">
      <div class="post">
        <img class="post-featured-img" src="/static/{{.Image}}">
        <div class="article">
          <h3 class="title">{{.Title}}</h3>
          <span class="author">{{.Author}}</span>
          <span class="date">{{.PubDate}}</span>
          <br/> {{.Body}}

        </div>
      </div>
    </section>

    <!-- Footer -->
    <div class="footer-section bg-black white" id="footer">
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell large-4"></div>
        <div class="cell large-4 text-center">
          <i class="fa fa-facebook social-icons"></i>
          <i class="fa fa-instagram social-icons"></i>
          <i class="fa fa-twitter social-icons"></i>
          <i class="fa fa-youtube-play social-icons"></i>
          <i class="fa fa-linkedin social-icons"></i>
          <i class="fa fa-google-plus social-icons"></i>
        </div>
        <div class="cell large-4 text-right">
          <small>
            &copy;
            <span id="year"></span>
            Project MANAS
          </small>
        </div>
      </div>
    </div>

  </div>

</body>
<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/vendor/foundation.js"></script>
<script src="/static/js/vendor/what-input.js"></script>

<script>

  $(document).foundation();

  $(window).on('scroll', function () {
    var pixs = $(document).scrollTop()
    pixs = pixs / 100;
    if (pixs / 4 > 0.8) {
      trans = 0.8;
    } else {
      trans = pixs / 4;
    }
    if (trans >= 0.2) trans = 0.2;

    $("#navigation-bar").css({
      "-webkit-backdrop-filter": "blur(" + pixs + "px)",
      "backdrop-filter": "blur(" + pixs + "px)"
    });
    $("#navigation-bar").css({
      "background-color": "rgba(0, 0, 0, " + (1 - trans)
    });
  });

  $(function () {
    $('.nav-link').on('click', function () {
      if (!Foundation.MediaQuery.atLeast('large')) {
        $("#navigation-bar").css({
          "display": "none"
        });
      }
    });
  });

  $(document).ready(function () {
    var lines = 20;
    var textLength = $('#main-container').innerWidth() / 16;


    for (i = 0; i < lines - 1; i++) {
      $(".num").first().clone().insertAfter($(".num").first());
      $(".buzz").first().clone().insertAfter($(".buzz").first());
    }

    buzz = ["Cryptography", "AritificialIntelligence", "Robotics", "Blockchain", "DeepMind", "NeuralNetwork", "BackPropogation", "Convolution", "Tensorflow"]

    function getRandomInt(max) {
      return Math.floor(Math.random() * Math.floor(max));
    }
    console.log($('#main-container').innerWidth())
    setInterval(function () {
      $(".num").each(function () {
        if ($(this).text().length < textLength) {
          $(this).text(($(this).text() + Math.round(Math.random())));
        } else {
          $(this).text(Math.round(Math.random()) + $(this).text().substring(0, textLength - 1))
        }
      });

    }, 50);
    setInterval(function () {
      $(".buzz").each(function () {
        if ($(this).text().length < textLength) {
          $(this).text(($(this).text() + buzz[getRandomInt(9)]));
        } else {
          // $(this).text(buzz[getRandomInt(9)] + $(his).text().substring(0, $(this).text().length - 1))
          $(this).text(buzz[getRandomInt(9)] + $(this).text().substring(0, textLength - 1))
        }
      });

    }, 150);

  });


  var today = new Date()
  var year = today.getFullYear()
  document.getElementById("year").innerHTML = year
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script src="/static/js/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>

</html>