<!-- Footer -->
<div class="footer-section bg-black white" id="footer">
  <div class="grid-x grid-padding-x grid-padding-y">
    <div class="cell large-4"></div>
    <div class="cell large-4 text-center">
      <a href="https://www.facebook.com/projectmanas">
        <i class="fa fa-facebook social-icons"></i>
      </a>
      <a href="https://www.instagram.com/project.manas/?hl=en">
        <i class="fa fa-instagram social-icons"></i>
      </a>
      <a href="https://twitter.com/projectmanas">
        <i class="fa fa-twitter social-icons"></i>
      </a>
      <a href="https://www.youtube.com/channel/UCpgA3-I00lUVgXVeg1CNaFw">
        <i class="fa fa-youtube-play social-icons"></i>
      </a>
      <a href="https://www.linkedin.com/company/project-manas/">
        <i class="fa fa-linkedin social-icons"></i>
      </a>
    </div>
    <div class="cell large-4 text-right">
      <small>
        &copy;
        <span id="year"></span>
        Project MANAS
      </small>
    </div>
  </div>
</div>
