#navigation-bar {
  background-color: #000
}

.blog a {
  color: #fe5831
}

.blog a:hover, .blog a:visited {
  color: #fe5831:
}

.header {
  height: 40vh;
  position: relative;
  background-color: #2d2d2d;
  box-shadow: 0 13px 60px -5px rgba(0, 0, 0, .45);
  color: #fff;
  font-family: Courier;
  font-weight: 700;
  overflow: hidden;
  z-index: -1
}

.header-content {
  height: 100%
}

.site-title-content {
  position: relative;
  z-index: 1;
  width: 30rem;
  margin: 0 auto;
  background: linear-gradient(to top, #ff9216 8%, #fe5831 100%);
  height: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  -moz-clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
  clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%)
}

.binary-backround, .buzz-background {
  position: absolute;
  top: 0;
  width: 50%;
  height: 40vh
}

.blog-title {
  padding-top: 3rem
}

.buzz, .num {
  clear: both;
  transform: rotateY(0)
}

.binary-backround {
  left: 0
}

.buzz-background {
  left: 50%
}

@media screen and (max-width:39.9375em) {
  .blog-description, .blog-title {
    padding-left: 4rem
  }

  .site-title-content {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 100%);
    background-color: red
  }

  .blog-title {
    padding-top: 4rem
  }

  .blog {
    max-width: 39.9375rem;
    margin: -1.8rem auto 1.5rem
  }
}

@media screen and (min-width:40em) and (max-width:63.9375em) {
  .blog {
    max-width: 50rem;
    margin: 0 auto 4rem
  }
}

@media screen and (min-width:64em) {
  .blog {
    max-width: 84rem;
    margin: 0 auto 4rem
  }
}

.blog .card {
  margin-left: 1rem;
  margin-right: 1rem;
  border-radius: .5rem;
  box-shadow: 3px 11px 76px -10px rgba(0, 0, 0, .55)
}

.blog .card .title {
  font-variant: normal;
  font-weight: 700;
  margin-bottom: -.2rem
}

.blog .card .author, .blog .card .date {
  color: grey;
  font-size: .8rem
}

.blog .card .date::before {
  content: " | "
}

.blog p {
  font-family: sans-serif;
  margin-top: 1rem
}

.blog .card:hover {
  -webkit-filter: saturate(3);
  transform: scale(1.05)
}
