/* General */

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: rgb(254, 88, 49);
}

::selection {
  color: white;
  background: rgb(254, 88, 49);
}



/* Colors */

.black {
  color: black;
}

.white {
  color: #f0f0f0;
}

.orange {
  color: rgb(254, 88, 49);
}

.bg-black {
  background-color: black;
}

.bg-white {
  background-color: #f0f0f0;
}

.transparent {
  background-color: rgba(0, 0, 0, 0) !important;
}

/* Buttons */

.hollow-black {
  border: 2px solid #000000;
  color: #000000;
}

.hollow-white {
  border: 2px solid #f0f0f0;
  color: #f0f0f0;
}

.button {
  background-color: transparent;
  transition: all 0.3s;
}

.button:hover {
  background: rgb(254, 88, 49);
  border: 2px solid rgb(254, 88, 49);
  color: #ffffff;
  transform: scale(1.1);
}

/* Font */

@font-face {
  font-family: Futura-Medium;
  src: url(../fonts/Futura-Medium.woff);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Futura, Futura-Medium, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 100;
}

p {
  font-family: Futura, Futura-Medium, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
}

a {
  font-family: Futura, Futura-Medium, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: white;
}

a:hover {
  color: white;
}

a:visited {
  color: white;
}

button {
  font-family: Futura, Futura-Medium, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
}
section {
  border-top: 75px solid transparent;
  margin-top: -75px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
