/* Main Container */

#main-container {
  position: relative;
  z-index: 2;
  background-color: rgb(0, 0, 0);
}
#navigation-bar {
	background-color: rgba(0, 0, 0, 0.8);
}
/* Recruitment Challenge */
.divisions{
	margin: auto;
	width: 90%;
}
.intro{
	padding-top: 0rem;
  margin: auto;
}

/* AI SNA MECH*/
.ai, .sna, .mech{
	padding-top: 1rem;
  margin: auto;
}

a, a:visited {
	color: rgb(254, 88, 49);
}

.note {
	font-weight: bold;
}

