/* Main Container */

#main-container {
  position: relative;
  z-index: 2;
  background-color: rgb(0, 0, 0);
}
#navigation-bar {
	background-color: rgba(0, 0, 0, 0.8);
}
/* Recruitment Challenge */
.divisions{
	margin: auto;
	width: 75%;
}

.intro{
	padding-top: 0rem;
  margin: auto;
}

/* AI SNA MECH*/
.ai, .sna, .mech{
	padding-top: 1rem;
  margin: auto;
}

.contact a, .contact a:link, .contact a:visited, .contact a:hover, .contact a:active{
	color: rgb(254, 88, 49);
}

.ai a, .ai a:link, .ai a:visited, .ai a:hover, .ai a:active{
	color: rgb(254, 88, 49);
}
.mech a, .mech a:link, .mech a:visited, .mech a:hover, .mech a:active{
	color: rgb(254, 88, 49);
}

.note {
	font-weight: bold;
}

.sna-scoring, .mech-scoring {
	margin: auto;
	padding-left: 2rem;
}

.embedded2-img, .pcb-img {
	width: 75%;
}

#sna-table {
	text-align: center;
	width: cover;
}

.contact td{
	text-align: center;
	font-family: futura;
}