/* Solo custom font */
@font-face {
  font-family: 'Astrobia Regular';
  src: url("../fonts/Astrobia.ttf") format("truetype");
  font-family: 'Futura Md BT'
  src: url("../fonts/Futura-Medium.ttf") format("truetype");
}

/* Main Background */
body {

}

/* Properties of Container */
#landing_container {
  display: grid;
  /* grid-template-columns: [left-offset] 5vw [solo-logo-column] 37vw [lower-nav-col] 20vw [solo-image-col] 35vw;
  grid-template-rows: [top-offset] 16.4vh [spec-buttons] 38.4vh [interactive-button] 20vh;
*/

  grid-auto-columns: 5vw;
  grid-auto-rows: 5vh;
  justify-content: start;
  background-image: url('../images/png/solo_devel_pics/memphis-mini@2x.png');
  background-position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

/* Properties of the Box of Text Logo */
#solo-box-text {
  grid-column-start: 2;
  /* grid-column-end: solo-logo-column; */
  grid-row-start: 4;
  /* grid-row-end: spec-buttons; */
  padding: 0px;
  /* margin-left: 5vw;
  margin-top: 9.2vh;
  margin-bottom: 0px; */
}

/* Properties of the Text Logo */
#solo-logo {
  font-family: 'Astrobia Regular';
  font-size: 28vh;
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* Properties of the Solo box Caption */
#solo-box-caption {
  /* width: 37vw; */
  padding-left: 0px;
  margin-left: 2vw;
  margin-right: 2vw;
  grid-column-start: 2;
  grid-row-start: 11;
  grid-column-end: 10;
  justify-content: center;
}

#solo-caption {
  font-size: 2.6vh;
}

#spec-img-height {
  padding-top: 2vh;
  padding-left: 2vw;
  grid-column-start: 2;
  grid-row-start: 13;
  justify-content: center;
  animation-delay: 0s;
  width: 10vh;
  height: 10vh;
}

#spec-img-weight {
  padding-top: 2vh;
  padding-left: 2vw;
  grid-column-start: 3;
  grid-row-start: 13;
  justify-content: center;
  animation-delay: 0.2s;
  width: 10vh;
  height: 10vh;
}

#spec-img-payload {
  padding-top: 2vh;
  padding-left: 2vw;
  grid-column-start: 4;
  grid-row-start: 13;
  justify-content: center;
  animation-delay: 0.4s;
  width: 10vh;
  height: 10vh;
}

#spec-img-zed {
  padding-top: 2vh;
  padding-left: 2vw;
  grid-column-start: 5;
  grid-row-start: 13;
  justify-content: center;
  animation-delay: 0.6s;
  width: 10vh;
  height: 10vh;
}

#spec-img-ins {
  padding-top: 2vh;
  padding-left: 2vw;
  grid-column-start: 6;
  grid-row-start: 13;
  justify-content: center;
  animation-delay: 0.8s;
  width: 10vh;
  height: 10vh;
}

#spec-img-gps {
  padding-top: 2vh;
  padding-left: 2vw;
  grid-column-start: 7;
  grid-row-start: 13;
  justify-content: center;
  animation-delay: 1.0s;
  width: 10vh;
  height: 10vh;
}

#spec-img-lidar {
  padding-top: 2vh;
  padding-left: 2vw;
  grid-column-start: 8;
  grid-row-start: 13;
  justify-content: center;
  animation-delay: 1.2s;
  width: 10vh;
  height: 10vh;
}

#spec-img-height-text {
  /* padding-top: 2vw; */
  /* font-family: 'Futura Md BT'; */
  padding-left: 2.2vw;
  grid-column-start: 2;
  grid-row-start: 14;
  font-weight: bold;
  padding-top: 3vh;
  justify-content: center;
  animation-delay: 0s;
  font-size: 2.5vh;


}

#spec-img-weight-text {
  /* padding-top: 2vw; */
  font-weight: bold;
  padding-left: 2.8vw;
  grid-column-start: 3;
  grid-row-start: 14;
  padding-top: 3vh;
  justify-content: center;
  animation-delay: 0.2s;
  font-size: 2.5vh;

}

#spec-img-payload-text {
  /* padding-top: 2vw; */
  padding-left: 2.8vw;
  grid-column-start: 4;
  grid-row-start: 14;
  padding-top: 3vh;
  font-weight: bold;
  justify-content: center;
  animation-delay: 0.4s;
  font-size: 2.5vh;

}

#spec-img-zed-text {
  /* padding-top: 2vw; */
  padding-left: 2.2vw;
  grid-column-start: 5;
  grid-row-start: 14;
  padding-top: 3vh;
  font-weight: bold;
  justify-content: center;
  animation-delay: 0.6s;
  font-size: 2.5vh;

}

#spec-img-ins-text {
  /* padding-top: 2vw; */
  /* justify-content: center; */
  padding-left: 2.4vw;
  grid-column-start: 6;
  grid-row-start: 14;
  padding-top: 3vh;
  font-weight: bold;
  justify-content: center;
  animation-delay: 0.8s;
  font-size: 2.5vh;

}

#spec-img-gps-text {
  /* padding-top: 2vw; */
  padding-left: 2.2vw;
  grid-column-start: 7;
  grid-row-start: 14;
  padding-top: 3vh;
  font-weight: bold;
  justify-content: center;
  animation-delay: 1.0s;
  font-size: 2.5vh;
}

#spec-img-lidar-text {
  /* padding-top: 2vw; */
  padding-left: 2.8vw;
  grid-column-start: 8;
  grid-row-start: 14;
  padding-top: 3vh;
  font-weight: bold;
  justify-content: center;
  animation-delay: 1.2s;
  font-size: 2.5vh;

}

#spec-img-height-text2 {
  /* font-family: 'Futura Md BT'; */
  padding-left: 1.8vw;
  grid-column-start: 2;
  grid-row-start: 15;
  /* font-weight: bold; */
  /* padding-top: 1vh; */
  justify-content: center;
  animation-delay: 0s;
  font-size: 2.5vh;

}

#spec-img-weight-text2 {
  /* font-weight: bold; */
  padding-left: 2.5vw;
  grid-column-start: 3;
  grid-row-start: 15;
  /* padding-top: 1vh; */
  justify-content: center;
  animation-delay: 0.2s;
  font-size: 2.5vh;

}

#spec-img-payload-text2 {
  padding-left: 2.5vw;
  grid-column-start: 4;
  grid-row-start: 15;
  /* padding-top: 1vh; */
  /* font-weight: bold; */
  /* justify-content: center; */
  animation-delay: 0.4s;
  font-size: 2.5vh;

}

#spec-img-zed-text2 {
  padding-left: 0.8vw;
  grid-column-start: 5;
  grid-row-start: 15;
  /* padding-top: 1vh; */
  /* font-weight: bold; */
  justify-content: center;
  animation-delay: 0.6s;
  font-size: 2.5vh;

}

#spec-img-lidar-text2 {
  padding-left: 2.5vw;
  grid-column-start: 8;
  grid-row-start: 15;
  /* padding-top: 1vh; */
  /* padding-top: 1vh; */
  /* font-weight: bold; */
  /* justify-content: center; */
  animation-delay: 1.2s;
  font-size: 2.5vh;

}

.button {
  background-color: #FF5700;
  border: none;
  color: white;
  width: 20vw;
  height: 7vh;
  padding: 1vh 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 32px;
  grid-row-start: 18;
  grid-column-start: 4;
  justify-content: center;
  animation-delay: 1.4s;
  font-size: 1.5vw;
}

button:focus {
  outline: none;
}

#solo-image{
  grid-column-start: 13;
  grid-row-start: 4;
  /* grid-column-end: 20; */
  /* grid-row-end: 20; */
  width: 30vw;
  height: 50vw;
  /* zoom: 0.5; */
  /* -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0; */
}

/* @media screen and (min-device-width: 1280px) {
  #solo-image{

    -moz-transform: scale(0.5);
  } */

  /* body{
    background-color: red;
  } */

}


/* #about_container{
  display: grid;
  grid-auto-columns: 5vw;
  grid-auto-rows: 5vh;
  justify-content: start;
  background-image: url('../images/assests/Group 4.png');
  background-position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

#igvc-container{
  font-size: 1.5vw;
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 10;
  color: white;
  justify-content: center;
}

#solo-text-container{
  font-size: 1.5vw;
  grid-row-start: 3;
  grid-column-start: 12;
  grid-column-end: 20;
  color: white;
  justify-content: center;
}

.news-headlines{
  font-size: 1.5vw;
  grid-row-start: 17;
  grid-column-start: 5;
  color: white;
  grid-column-end: 17;
} */
