/* Solo custom font */
@font-face {
  font-family: 'Astrobia Regular';
  src: url("../fonts/Astrobia.ttf") format("truetype");
  font-family: 'Futura Md BT'
  src: url("../fonts/Futura-Medium.ttf") format("truetype");
}

/* Main Background */
body {
  overflow-x: hidden;
  overflow-y:hidden
}

h1{
   font-size: 16vmax; /*calc(117px + (300 - 117) * ((100vw - 800px) / (2048 - 800))); */
}
/* Properties of Container */
#landing_container {
  /* display: grid; */
  /* grid-template-columns: [left-offset] 5vw [solo-logo-column] 37vw [lower-nav-col] 20vw [solo-image-col] 35vw;
  grid-template-rows: [top-offset] 16.4vh [spec-buttons] 38.4vh [interactive-button] 20vh;
*/

  /* grid-auto-columns: 5vw;
  grid-auto-rows: 5vh;
  justify-content: start; */
  background-image: url('../images/png/solo_devel_pics/memphis-mini@2x.png');
  background-position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

}

/* Properties of the Box of Text Logo */
#solo-box-text {
  /* padding-left: 5vmax;
  padding-top: 16vh; */
  /* padding-left: 5vw;
  padding-top: 16vh; */

}

/* Properties of the Text Logo */
#solo-logo {
  font-family: 'Astrobia Regular';
}

/* Properties of the Solo box Caption */
#solo-box-caption {
  /* padding-left: 6vw;
  padding-top: ; */
  /* padding-top: 7vh */
}

#solo-caption {
  text-align: center;
  font-size: 1vmax;
}

#spec-img-height {

  animation-delay: 0s;

}

#spec-img-weight {

  animation-delay: 0.2s;

}

#spec-img-payload {

  animation-delay: 0.4s;

}

#spec-img-zed {

  animation-delay: 0.6s;

}

#spec-img-ins {

  animation-delay: 0.8s;

}

#spec-img-gps {

  animation-delay: 1.0s;

}

#spec-img-lidar {

  animation-delay: 1.2s;

}

#spec-img-height-text {

  font-weight: bold;
  animation-delay: 0s;
  font-size: 2.5vh;
  justify-content: center;


}

#spec-img-weight-text {
  /* padding-top: 2vw; */
  font-weight: bold;

  animation-delay: 0.2s;
  font-size: 2.5vh;

}

#spec-img-payload-text {

  font-weight: bold;

  animation-delay: 0.4s;
  font-size: 2.5vh;

}

#spec-img-zed-text {

  font-weight: bold;

  animation-delay: 0.6s;
  font-size: 2.5vh;

}

#spec-img-ins-text {

  font-weight: bold;

  animation-delay: 0.8s;
  font-size: 2.5vh;

}

#spec-img-gps-text {

  font-weight: bold;

  animation-delay: 1.0s;
  font-size: 2.5vh;
}

#spec-img-lidar-text {

  font-weight: bold;

  animation-delay: 1.2s;
  font-size: 2.5vh;

}

#spec-img-height-text2 {

  animation-delay: 0s;
  font-size: 2.5vh;

}

#spec-img-weight-text2 {

  animation-delay: 0.2s;
  font-size: 2.5vh;

}

#spec-img-payload-text2 {

  animation-delay: 0.4s;
  font-size: 2.5vh;

}

#spec-img-zed-text2 {

  animation-delay: 0.6s;
  font-size: 2.5vh;

}

#spec-img-lidar-text2 {

  animation-delay: 1.2s;
  font-size: 2.5vh;

}

.button {
  background-color: #FF5700;
  border: none;
  color: white;
  width: 20vw;
  height: 7vh;
  padding: 1vh 1vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  /* margin: 4px 2px; */
  cursor: pointer;
  border-radius: 32px;
  grid-row-start: 18;
  grid-column-start: 4;
  justify-content: center;
  animation-delay: 1.4s;
  font-size: 1.5vw;
}

button:focus {
  outline: none;
}

#solo-image{
  /* grid-column-start: 13;
  grid-row-start: 4; */
  /* grid-column-end: 20; */
  /* grid-row-end: 20; */
  /* width: 30vw;
  height: 50vw; */
  /* zoom: 0.5; */
  /* -moz-transform: scale(0.5);
  -moz-transform-origin: 0 0; */
  /* padding-left: 5vw;
  padding-top: 16vh; */
  width: 85%;
  height: 85%;
}

/* @media screen and (min-device-width: 1280px) {
  #solo-image{

    -moz-transform: scale(0.5);
  } */

  /* body{
    background-color: red;
  } */




.about_container{
  display: grid;
  grid-auto-columns: 5vw;
  grid-auto-rows: 5vh;
  justify-content: start;
  /* background-color: black; */
  background-image: url('../images/png/solo_devel_pics/Group 4.png');
  background-position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}

#igvc-container{
  font-size: 1.5vw;
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 10;
  color: white;
  justify-content: center;
}

#solo-text-container{
  font-size: 1.5vw;
  grid-row-start: 3;
  grid-column-start: 12;
  grid-column-end: 20;
  color: white;
  justify-content: center;
}

.news-headlines{
  font-size: 1.5vw;
  grid-row-start: 17;
  grid-column-start: 5;
  color: white;
  grid-column-end: 17;
}

.spec{
  border: 0;
  margin: 0;
  padding: 0;
  background-color: black;
}
.spec-image{
  padding: 0 0 0 0;
  display: block;
  background-color: transparent;
  margin: 0 0 0 0;

  /* border-radius: 100px; */
  width: 5vw;
  height: 5vw;
  background-repeat: no-repeat;
  background-position: 0 0 0 0;
  background-size: 100% 100%;
  /* box-shadow: inset 15px 10px 22px 0 rgba(0, 0, 0, .46) */
}
.card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-positive: 1;
  flex-grow: 1;
  /* margin-bottom: 1rem;
  border: 1px solid #e6e6e6; */
  border-radius: 0;
  background:;
  box-shadow: none;
  overflow: hidden;
  color: #0a0a0a;
  justify-content:center;
}
.card-section {
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
  padding: 0rem;
  margin: 0rem;
}


.slick-dots{
position: absolute;
bottom: 20px;
display: block;
width: 100%;
/* padding: 10; */
margin: 0;
list-style: none;
text-align: center;
}
.slick-dots li.slick-active button:before{
  font-size:5vw;
  color:blue;
}

.spec-fix{
  width: auto;
  height: auto;
}

@media screen and (min-width: 320px) and (max-width: 800px) {

  #solo-logo {
  text-align: center;
  font-size: 30rem;

  }
  .pic-fix{
    display: none;
  }

  #solo-box-logo{
    text-align: center;
    font-size: 10rem;
  }
  #solo-caption{
    text-align: center;

  }

}

@media screen and (min-width: 1280px) {
  .solo-caption{
    margin-top: 10vh;
  }
}
