/* Home */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background: -webkit-linear-gradient(to top, rgb(252, 173, 63) 22%, rgb(254, 88, 49) 100%);
  background: linear-gradient(to top, #2c2c2c 22%, #2c2c2c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2f2f30', GradientType=1);
}

.home-container {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  width: 100%;
  height: 100%;
}

.home-left {
  background: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%);
}

.home-center {
  background: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%);
  clip-path: polygon(0% 100%, 100% 0%, -5% 0%);
  -webkit-clip-path: polygon(0% 100%, 100% 0%, -5% 0%);
}

.home-right {
  height: 100%;
}

@keyframes breathe {
  from {
    -webkit-filter: drop-shadow(0px 0px 3px #f0f0f0);
    filter: drop-shadow(0px 0px 3px #f0f0f0);
  }
  to {
    -webkit-filter: drop-shadow(0px 0px 10px #f0f0f0);
    filter: drop-shadow(0px 0px 10px #f0f0f0);
  }
}


@media screen and (max-width: 63.9375em) {
  #home-container {
    width: 100vw;
  }
}

/* Navigation Bar */
.top-bar-title{
  opacity: 0;
}

/* Main Container */

#main-container {
  position: relative;
  z-index: 2;
  top: calc(100vh - 70px)
}


/* About Section */

.about-section {
  padding-bottom: 2rem;
}

.about-section p {
  margin: auto;
  width: 75%;
}


#home-logo {
  animation-name: breathe;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  padding-bottom: 1rem;
}

@media screen and (min-width: 64em) {
  #home-logo-heading {
    width: 25rem;
  }
}

@media screen and (max-width: 63.9375em) {
  div < #home-logo {
    padding: 0
  }

  #home-logo {
    width: 20vw;
    margin-left: 40vw;
    margin-right: 40vw;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  #home-logo-heading {
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw;
  }
}

@media screen and (max-width: 29.9375em) {
  #home-logo {
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw;
  }
  #home-logo-heading {
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw;
  }
  #main-container {
    top: calc(100vh - 61px)
  }
}

/* Sponsor Section */

.spnsr-logo {
  width: 100%;
  height: 6rem;
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s;
}

.spnsr-logo:hover {
  background-repeat: no-repeat;
  background-size: cover;
  transform: scale(1.1);
  box-shadow: 0px 0px 25px grey;
}

.sponsorship-button {
  padding-top: 1.8rem !important;
  border: 1px solid #f0f0f0;
}

.sponsorship-button:hover {
  background-color: rgb(254, 88, 49);
  border: 1px solid rgb(254, 88, 49);
}

/* Bossard */

#bossard {
  background-image: url(../images/png/bg/bossard.jpg);
  padding-top: 2.15rem;
}

#bossard img {
  height: 1.6rem;
}

#bossard:hover {
  background: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%), url(../images/png/bg/bossard.jpg);
}

/* Sica */

#sica {
  background-image: url(../images/png/bg/sica.jpg);
  padding-top: 1.35rem;
}

#sica img {
  height: 3rem;
}

#sica:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%), url(../images/png/bg/sica.jpg);
}

/* Indian Bank */

#indian-bank {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/png/bg/indian-bank.jpg);
  padding-top: 1.75rem;
}

#indian-bank img {
  height: 2rem;
}

#indian-bank:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%), url(../images/png/bg/indian-bank.jpg);
}

/* Pepperl Fuchs */

#pepperl-fuchs {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/png/bg/pepperl-fuchs.jpg);
  padding-top: 2rem;
}

#pepperl-fuchs img {
  height: 1.2rem;
}

#pepperl-fuchs:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%), url(../images/png/bg/pepperl-fuchs.jpg);
}

/* Gigabyte */

#gigabyte {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/png/bg/gigabyte.jpg);
  padding-top: 2.1rem;
}

#gigabyte img {
  height: 1.2rem;
}

#gigabyte:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%), url(../images/png/bg/vector.jpg);
}

/* Vector */

#vector {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/png/bg/vector.jpg);
  padding-top: 1.9rem;
}

#vector img {
  height: 2.4rem;
}

#vector:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%), url(../images/png/bg/vector.jpg);
}

/* Cooler Master */

#cooler-master {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/png/bg/cooler-master.jpg);
  padding-top: 1.4rem;
}

#cooler-master img {
  height: 3.5rem;
}

#cooler-master:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%), url(../images/png/bg/cooler-master.jpg);
}

/* Microsoft */

#microsoft {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/png/bg/microsoft.jpg);
  padding-top: 1.85rem;
}

#microsoft img {
  height: 2rem;
}

#microsoft:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%), url(../images/png/bg/microsoft.jpg);
}

/* Ximea */

#ximea {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/png/bg/ximea.jpg);
  padding-top: 2rem;
}

#ximea img {
  height: 2rem;
}

#ximea:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%), url(../images/png/bg/ximea.jpg);
}

/* National Instruments */

#national-instruments {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/png/bg/national-instruments.jpg);
  padding-top: 2.1rem;
}

#national-instruments img {
  height: 2rem;
}

#national-instruments:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%), url(../images/png/bg/national-instruments.jpg);
}

/* Nvidia */

#nvidia {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/png/bg/nvidia.jpg);
  padding-top: 1.2rem;
}

#nvidia img {
  height: 3.5rem;
}

#nvidia:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%), url(../images/png/bg/nvidia.jpg);
}

/* Sick */

#sick {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/png/bg/sick.jpg);
  padding-top: 1.8rem;
}

#sick img {
  height: 2rem;
}

#sick:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%), url(../images/png/bg/sick.jpg);
}

/* Mahindra Rise */

#mahindra-rise {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/png/bg/mahindra.jpg);
  padding-top: 1.8rem;
}

#mahindra-rise img {
  height: 2rem;
}

#mahindra-rise:hover {
  background: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%), url(../images/png/bg/mahindra.jpg);
}

/* Continental */

#continental {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/png/bg/continental.jpg);
  padding-top: 1.75rem;
}

#continental img {
  height: 2rem
}

#continental:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, 0.85) 22%, rgba(254, 88, 49, 0.85) 100%), url(../images/png/bg/continental.jpg);
}

/* Projects Section */

.projects-section{
  padding-bottom: 8rem;
}

.project-card {
  width: 100%;
  border-radius: 10px;
  color: #f0f0f0;
  box-shadow: 5px 5px 25px grey;
  border: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  background-repeat: no-repeat;
  background-size: cover !important;
  transition: all 0.3s;
}

.project-card:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  background-repeat: no-repeat;
  background-size: cover !important;
  transform: scale(1.1);
}

@media screen and (min-width: 74em) {
  .project-card {
    height: 40vh;
  }
}

@media screen and (min-width: 64em) and (max-width: 73.9375em) {
  .project-card {
    height: 15rem;
  }
}

@media screen and (min-width: 58em) and (max-width: 63.9375em) {
  .project-card {
    height: 17rem;
  }
}

@media screen and (min-width: 50em) and (max-width: 57.9375em) {
  .project-card {
    height: 15rem;
  }
}

@media screen and (min-width: 40em) and (max-width: 49.9375em) {
  .project-card {
    height: 13rem;
  }
}

@media screen and (min-width: 33em) and (max-width: 39.9375em) {
  .project-card {
    height: 16rem;
  }
}

@media screen and (min-width: 28em) and (max-width: 32.9375em) {
  .project-card {
    height: 13rem;
  }
}

@media screen and (min-width: 26em) and (max-width: 32.9375em) {
  .project-card {
    height: 12rem;
  }
}

@media screen and (max-width: 25.9375em) {
  .project-card {
    height: 22vh;
  }
}

#wall-e {
  background: url(../images/png/bg/wall-e.jpg);
}

#wall-e:hover {
  background: url(../images/png/bg/wall-e.jpg);
}

#mahindra {
  background: url(../images/png/bg/eve.jpg);
}

#mahindra:hover {
  background: url(../images/png/bg/eve.jpg);
}

#igvc {
  background: url(../images/png/bg/adam.jpg);
}

#igvc:hover {
  background: url(../images/png/bg/adam.jpg);
}

/* Instagram Feed */

.instagram-section .card:hover{
  transform: scale(1.1);
}

.instagram-section .card{
  box-shadow: 7px 14px 61px -12px rgba(0,0,0,0.60);
}

.instagram-section p{
  display: block;
 width: 100%;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}

/* Contact Section */

.contact-section {
  background: url(../images/png/bg/map.jpg);
  margin-top: 0;
  padding-bottom: 0.65rem;
}

.contact-information {
  margin: auto;
  width: 16rem !important;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.fa-phone, .fa-envelope {
  padding-bottom: 1rem;
}

.contact-form-container {
  margin: auto;
  max-width: 35rem;
}

input[type="text"], input[type="email"], textarea {
  background-color: transparent;
  border: 2px solid #f0f0f0;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid rgb(254, 88, 49);
  box-shadow: 0 0 10px rgb(254, 88, 49);
}

@supports ((backdrop-filter: blur(20px)) or (-webkit-backdrop-filter: blur(20px))) {
  input[type="text"]:focus, textarea:focus {
    /* background-color: #f0f0f0; */
    background-color: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid rgb(254, 88, 49);
    box-shadow: 0 0 10px rgb(254, 88, 49);
  }
}

#sponsorship-alert  a:hover {
  color: rgb(254, 88, 49);
  font-weight: bold;
}

#sponsorship-alert a:visited {
  color: rgb(254, 88, 49);
}
