#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  background: -webkit-linear-gradient(to top, #fcad3f 22%, #fe5831 100%);
  background: linear-gradient(to top, #2c2c2c 22%, #2c2c2c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#2f2f30', GradientType=1)
}

.home-container {
  background-color: rgba(0, 0, 0, .75);
  position: fixed;
  width: 100%;
  height: 100%
}

.home-center, .home-left {
  background: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%)
}

.home-center {
  clip-path: polygon(0 100%, 100% 0, -5% 0);
  -moz-`clip-path: polygon(0 100%, 100% 0, -5% 0);
  -webkit-clip-path: polygon(0 100%, 100% 0, -5% 0)
}

.spnsr-logo, .spnsr-logo:hover {
  background-repeat: no-repeat;
  background-size: cover
}

.home-right {
  height: 100%
}

@keyframes breathe {
  from {
    -webkit-filter: drop-shadow(0 0 3px #f0f0f0);
    filter: drop-shadow(0 0 3px #f0f0f0)
  }
  to {
    -webkit-filter: drop-shadow(0 0 10px #f0f0f0);
    filter: drop-shadow(0 0 10px #f0f0f0)
  }
}

@media screen and (max-width:63.9375em) {
  #home-container {
    width: 100vw
  }
}

.top-bar-title {
  opacity: 0
}

#main-container {
  position: relative;
  z-index: 2;
  top: calc(100vh - 70px)
}

.about-section {
  padding-bottom: 2rem
}

.about-section p {
  margin: auto;
  width: 75%
}

#home-logo {
  animation-name: breathe;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  padding-bottom: 1rem
}

@media screen and (min-width:64em) {
  #home-logo-heading {
    width: 25rem
  }
}

@media screen and (max-width:63.9375em) {
  div < #home-logo {
    padding: 0
  }
  #home-logo {
    width: 20vw;
    margin: 2rem 40vw
  }
  #home-logo-heading {
    width: 50vw;
    margin-left: 25vw;
    margin-right: 25vw
  }
}

@media screen and (max-width:29.9375em) {
  #home-logo {
    width: 40vw;
    margin-left: 30vw;
    margin-right: 30vw
  }
  #home-logo-heading {
    width: 60vw;
    margin-left: 20vw;
    margin-right: 20vw
  }
  #main-container {
    top: calc(100vh - 61px)
  }
}

.project-card, .spnsr-logo {
  width: 100%;
  transition: all .3s
}

.spnsr-logo {
  height: 6rem
}

.spnsr-logo:hover {
  transform: scale(1.1);
  box-shadow: 0 0 25px grey
}

.sponsorship-button {
  padding-top: 1.8rem !important;
  border: 1px solid #f0f0f0
}

.sponsorship-button:hover {
  background-color: #fe5831;
  border: 1px solid #fe5831
}

#bossard {
  background-image: url(../images/png/bg/bossard.jpg);
  padding-top: 2.15rem
}

#bossard img {
  height: 1.6rem
}

#bossard:hover {
  background: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/bossard.jpg)
}

#sica {
  background-image: url(../images/png/bg/sica.jpg);
  padding-top: 1.35rem
}

#sica img {
  height: 3rem
}

#sica:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/sica.jpg)
}

#indian-bank {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/png/bg/indian-bank.jpg);
  padding-top: 1.75rem
}

#continental img, #indian-bank img, #mahindra-rise img, #microsoft img, #national-instruments img, #sick img, #ximea img {
  height: 2rem
}

#indian-bank:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/indian-bank.jpg)
}

#pepperl-fuchs {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/png/bg/pepperl-fuchs.jpg);
  padding-top: 2rem
}

#gigabyte img, #pepperl-fuchs img {
  height: 1.2rem
}

#pepperl-fuchs:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/pepperl-fuchs.jpg)
}

#gigabyte {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/png/bg/gigabyte.jpg);
  padding-top: 2.1rem
}

#gigabyte:hover, #vector:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/vector.jpg)
}

#vector {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/png/bg/vector.jpg);
  padding-top: 1.9rem
}

#vector img {
  height: 2.4rem
}

#cooler-master {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/png/bg/cooler-master.jpg);
  padding-top: 1.4rem
}

#cooler-master img, #nvidia img {
  height: 3.5rem
}

#cooler-master:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/cooler-master.jpg)
}

#microsoft {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/png/bg/microsoft.jpg);
  padding-top: 1.85rem
}

#microsoft:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/microsoft.jpg)
}

#ximea {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/png/bg/ximea.jpg);
  padding-top: 2rem
}

#ximea:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/ximea.jpg)
}

#national-instruments {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/png/bg/national-instruments.jpg);
  padding-top: 2.1rem
}

#national-instruments:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/national-instruments.jpg)
}

#nvidia {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/png/bg/nvidia.jpg);
  padding-top: 1.2rem
}

#nvidia:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/nvidia.jpg)
}

#sick {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/png/bg/sick.jpg);
  padding-top: 1.8rem
}

#sick:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/sick.jpg)
}

#mahindra-rise {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/png/bg/mahindra.jpg);
  padding-top: 1.8rem
}

#mahindra-rise:hover {
  background: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/mahindra.jpg)
}

#veekay_impex {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)),url(../images/png/bg/Image.jpg);
  padding-top: 1.0rem;
  padding-right: 2.8rem;
}

#veekay_impex img {
  height: 5rem
}

#veekay_impex:hover {
  background: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/Image.jpg)
}

#simscale {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/png/bg/simscale.jpg);
  padding-top: 2.5rem;
  padding-right: 1.5rem;
}

#simscale img {
  height: 1.6rem
}

#simscale:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/simscale.jpg)
}



.project-card, .project-card:hover {
  background-repeat: no-repeat;
  background-size: cover !important
}

#continental {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/png/bg/continental.jpg);
  padding-top: 1.75rem
}

#continental:hover {
  background-image: linear-gradient(to top, rgba(252, 173, 63, .85) 22%, rgba(254, 88, 49, .85) 100%), url(../images/png/bg/continental.jpg)
}

.projects-section {
  padding-bottom: 8rem
}

.project-card {
  border-radius: 10px;
  color: #f0f0f0;
  box-shadow: 5px 5px 25px grey;
  border: 0;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%)
}

.project-card:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1.1)
}

@media screen and (min-width:74em) {
  .project-card {
    height: 40vh
  }
}

@media screen and (min-width:64em) and (max-width:73.9375em) {
  .project-card {
    height: 15rem
  }
}

@media screen and (min-width:58em) and (max-width:63.9375em) {
  .project-card {
    height: 17rem
  }
}

@media screen and (min-width:50em) and (max-width:57.9375em) {
  .project-card {
    height: 15rem
  }
}

@media screen and (min-width:40em) and (max-width:49.9375em) {
  .project-card {
    height: 13rem
  }
}

@media screen and (max-width:39.9375em) {
  .project-card {
    height: 18rem;
    width: 18rem;
    margin: 1rem auto
  }
}

#wall-e, #wall-e:hover {
  background: url(../images/png/bg/wall-e.jpg)
}

#mahindra, #mahindra:hover {
  background: url(../images/png/bg/eve.jpg)
}

#igvc, #igvc:hover {
  background: url(../images/png/bg/adam.jpg)
}

#solo, #solo:hover {
    background: url(../images/png/bg/solo.jpg)
}

.instagram-section .card:hover {
  transform: scale(1.1)
}

.instagram-section .card {
  box-shadow: 7px 14px 61px -12px rgba(0, 0, 0, .6)
}

.instagram-section p {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.contact-section {
  background: url(../images/png/bg/map.jpg);
  margin-top: 0;
  padding-bottom: .65rem
}

.contact-information {
  margin: 1rem auto 2rem;
  width: 16rem !important
}

.fa-envelope, .fa-phone {
  padding-bottom: 1rem
}

.contact-form-container {
  margin: auto;
  max-width: 35rem
}

input[type=text], input[type=email], textarea {
  background-color: transparent;
  border: 2px solid #f0f0f0
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
  background-color: rgba(0, 0, 0, .5);
  border: 2px solid #fe5831;
  box-shadow: 0 0 10px #fe5831
}

@supports ((backdrop-filter:blur(20px)) or (-webkit-backdrop-filter:blur(20px))) {
  input[type=text]:focus, textarea:focus {
    background-color: rgba(0, 0, 0, .3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 2px solid #fe5831;
    box-shadow: 0 0 10px #fe5831
  }
}

#sponsorship-alert a:hover {
  color: #fe5831;
  font-weight: 700
}

#sponsorship-alert a:visited {
  color: #fe5831
}
