::-moz-selection {
  color: #fff;
  background: #fe5831
}

::selection {
  color: #fff;
  background: #fe5831
}

.black, .profile a, .profile a:visited {
  color: #000
}

.white {
  color: #f0f0f0
}

.orange {
  color: #fe5831
}

.bg-black {
  background-color: #000
}

.bg-white {
  background-color: #f0f0f0
}

.transparent {
  background-color: rgba(0, 0, 0, 0) !important
}

.hollow-black {
  border: 2px solid #000;
  color: #000
}

.hollow-white {
  border: 2px solid #f0f0f0;
  color: #f0f0f0
}

a, a:hover, a:visited {
  color: #fff
}

.button {
  background-color: transparent;
  transition: all .3s
}

.is-stuck .top-bar, .top-bar {
  transition: padding .25s ease
}

.button:hover {
  background: #fe5831;
  border: 2px solid #fe5831;
  color: #fff;
  transform: scale(1.1)
}

@font-face {
  font-family: Futura-Medium;
  src: url(../fonts/Futura-Medium.woff)
}

h1, h2, h3, h4, h5, h6 {
  font-family: Futura, Futura-Medium, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-variant: small-caps;
  font-weight: 100
}

a, button, p {
  font-family: Futura, Futura-Medium, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  font-variant: normal
}

a, p {
  font-weight: 400
}

button {
  font-weight: 500
}

#main-container {
  position: relative;
  z-index: 2
}

#navigation-bar {
  background-color: rgba(0, 0, 0, 0);
  -webkit-backdrop-filter: blur(0);
  backdrop-filter: blur(0);
  z-index: 3
}

[data-sticky] {
  width: 100%
}

.top-bar {
  padding: 1rem
}

.is-stuck .top-bar {
  padding: .5rem 1.5rem
}

.title-bar {
  background: rgba(0, 0, 0, .8)
}

.top-bar-title {
  margin-left: .5rem
}

.nav-link:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fe5831;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s
}

.nav-link {
  color: #f0f0f0;
  position: relative;
  text-decoration: none
}

.nav-link:hover {
  text-shadow: 0 0 15px rgba(255, 255, 255, 1)
}

.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1)
}

.no-js .top-bar {
  display: none
}

@media screen and (min-width:40em) {
  .no-js .top-bar {
    display: block
  }
  .no-js .title-bar {
    display: none
  }
}

.team-section>div {
  width: 85%;
  align-items: center
}

.profile {
  border: 0;
  background-color: transparent
}

.profile-image {
  padding: 0 0 .5rem;
  display: block;
  margin: 0 auto;
  border-radius: 100px;
  width: 7rem;
  height: 7rem;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 100% 200%;
  box-shadow: inset 15px 10px 22px 0 rgba(0, 0, 0, .46)
}

#mentor .profile-image, #alumni .profile-image {
  background-repeat: round;
}

@media screen and (max-width:39.9375em) {
  .profile-image {
    width: 5rem;
    height: 5rem
  }
}

#team .profile-image:hover {
  background-position: 0 100%
}

#team .profile-image:hover~.profile-about h5 span {
  display: none
}

#team .profile-image:hover~.profile-about h5::after {
  content: attr(data-nickname)
}

#mentor .profile-image:hover~.profile-about p span {
  display: none
}

#mentor .profile-image:hover~.profile-about p::after {
  content: attr(data-title)
}

#alumni .profile-image:hover~.profile-about p span {
  display: none
}

#alumni .profile-image:hover~.profile-about p::after {
  content: attr(data-title)
}

.profile-social {
  padding: 0
}

.profile-about h5 {
  line-height: 1
}

.profile-about p {
  font-size: .8rem;
  line-height: 1;
  color: #767676
}

.profile-social .fa {
  font-size: .8rem
}

#footer {
  width: 100%
}

.social-icons {
  
  padding: 0 .2rem
}

.fa {
  transition: all .3
}

.fa:hover {
  transform: scale(1.5)
}

.fa-facebook:hover {
  color: #3B5998
}

.fa-instagram:hover {
  color: #8a3ab9
}

.fa-twitter:hover {
  color: #55acee
}

.fa-google-plus:hover {
  color: #dd4b39
}

.fa-youtube-play:hover {
  color: red
}

.fa-linkedin:hover {
  color: #007bb5
}

.fa-envelope:hover {
  color: #f2b517
}
