<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">
<title>{{ page.title }}</title>

<head>
  {% include header.html %}
  <link type="text/css" rel="stylesheet" href="static/css/blog.css" />
</head>
<body>

  <!-- Navigation Bar -->
  {% include navigation.html %}


  <!-- Main Container -->
  <div id="main-container">
    <!-- Header -->
    <section class="header text-center">
      <div class="header-content">
      <div class="site-title-content">
        <div class="blog-title">
            <h1 class="black">MANAS BLOG</h1>
        </div>
        <div class="blog-description">
            <h4>Decoding bits for you</h4>
        </div>
      </div>
      <div class="binary-backround">
        <div class="num">01001001010001010100001101010011010001010101001101110101011000110110101101110011</div>
      </div>
      <div class="buzz-background">
        <div class="buzz">ProjectManasArtificialIntelligenceRoboticsAutonomusBotIGVCSelfDrivingCar</div>
      </div>
    </div>
    </section>


    <section class="blog">
        <div class="grid-x small-up-1 medium-up-2 large-up-3">
          {% for post in site.posts %}
          <div class="cell">
            <a href="{{ post.url }}">
            <div class="card">
              <img src="{{post.feature-img}}">
              <div class="card-section">
                <h5 class="title">{{ post.title }}</h5>
              <span class="author">{{ post.author }}</span><span class="date">{{ post.date | date_to_string }}</span>
                <p>{{ post.excerpt }}</p>
              </div>
            </div>
          </a>
          </div>
          {% endfor %}
        </div>
    </section>

    <!-- Footer -->
    {% include footer.html %}


  </div>

</body>
{% include script.html %}

<script>

  $(document).ready(function() {
  var lines = 20;
  var textLength = $('#main-container').innerWidth() / 16;


  for (i = 0; i < lines - 1; i++) {
    $(".num").first().clone().insertAfter($(".num").first());
    $(".buzz").first().clone().insertAfter($(".buzz").first());
  }

  buzz =["Cryptography", "AritificialIntelligence", "Robotics", "Blockchain", "DeepMind", "NeuralNetwork", "BackPropogation", "Convolution", "Tensorflow", "Analysis", "Resarch", "HighPerformanceComputing", "BigData", "Hypothesis", "ImageProcessing", "CUDA", "GPUComputing", "MultiThreading", "PathPlanning", "StereoVision"]

  function getRandomInt(max) {
  return Math.floor(Math.random() * Math.floor(max));
}
  console.log($('#main-container').innerWidth())
  setInterval(function() {
    $(".num").each(function() {
      if ($(this).text().length < textLength) {
        $(this).text(($(this).text() + Math.round(Math.random())));
      } else {
        $(this).text(Math.round(Math.random()) + $(this).text().substring(0, textLength - 1))
      }
    });

  }, 50);
  setInterval(function() {
    $(".buzz").each(function() {
      if ($(this).text().length < textLength) {
        $(this).text(($(this).text() + buzz[getRandomInt(9)]));
      } else {
        // $(this).text(buzz[getRandomInt(9)] + $(his).text().substring(0, $(this).text().length - 1))
        $(this).text(buzz[getRandomInt(9)] + $(this).text().substring(0, textLength - 1))
      }
    });

  }, 150);

});


  var today = new Date()
  var year = today.getFullYear()
  document.getElementById("year").innerHTML = year
</script>

</html>
