
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->
    <title>IGVC</title>
    
    
    <link type="text/css" rel="stylesheet" href="/static/css/foundation.min.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/igvc_page.css" | prepend: site.baseurl }}" />
    <script src="/static/js/vendor/jquery.min.js"></script>
    <script src="/static/js/vendor/reel.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/css/foundation.min.css" integrity="sha256-1mcRjtAxlSjp6XJBgrBeeCORfBp/ppyX4tsvpQVCcpA= sha384-b5S5X654rX3Wo6z5/hnQ4GBmKuIJKMPwrJXn52ypjztlnDK2w9+9hSMBz/asy9Gw sha512-M1VveR2JGzpgWHb0elGqPTltHK3xbvu3Brgjfg4cg5ZNtyyApxw/45yHYsZ/rCVbfoO5MSZxB241wWq642jLtA==" crossorigin="anonymous">
    <link rel = "stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.1.1/motion-ui.css">
    <!-- Compressed JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.5.1/dist/js/foundation.min.js" integrity="sha256-WUKHnLrIrx8dew//IpSEmPN/NT3DGAEmIePQYIEJLLs= sha384-53StQWuVbn6figscdDC3xV00aYCPEz3srBdV/QGSXw3f19og3Tq2wTRe0vJqRTEO sha512-X9O+2f1ty1rzBJOC8AXBnuNUdyJg0m8xMKmbt9I3Vu/UOWmSg5zG+dtnje4wAZrKtkopz/PEDClHZ1LXx5IeOw==" crossorigin="anonymous"></script>
    
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js"></script>
    
</head>

<body>
    <div id="desktop-view">
        <div class="grid-container full">
            <div class="grid-y ">
                <div class="grid-x align-justify grid-padding-x">
                    <div class="grid-y" style="width:60%;">
                        <div class="large-3 medium-3 large-3 padding-y cell text-left igvc-heading" ><h2 style="font-family:Futura Md BT" >Intelligent Ground Vehicle</h2><span style="float:left;"><h2 style="font-family:Futura Md BT">Competition 20</h2></span><span style="color:orange;float:left;"><h2 style="font-family:Futura Md BT">19</h2></span></div>
                        <div class="large-8 medium-8 large-8 grid-padding-y cell igvc-info text-left"><h3 style="font-family:Futura Md BT;font-size:26px;" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in oluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non roident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h3></div>
                    </div>
                    <div class="small-shrink medium-shrink large-2 small-2 medium-2 ">
                    <div id="robonation-img"><img src="/static/images/png/igvc-page-pics/robonation-champoins-igvc-2019.png"></div> 
                    </div>
                </div>
                <div class="grid-x laurel-line">
                    <div class="large-2 medium-2 small-2">
                        <div id="laurel" ><img src="/static/images/png/igvc-page-pics/laurel-wealth@2x.png"/>
                        <div id="laurel-texts"><p>Grand<br> Prize<br>Winner</p></div>
                        </div>
                    </div>
                    <div class="large-2 medium-2 small-2">
                        <div id="laurel" ><img src="/static/images/png/igvc-page-pics/laurel-wealth@2x.png"/>
                        <div id="laurel-texts"><p>1st<br>IOP<br>Challenge</p></div>
                        </div>
                    </div>
                    <div class="large-2 medium-2 small-2">
                        <div id="laurel" ><img src="/static/images/png/igvc-page-pics/laurel-wealth@2x.png"/>
                        <div id="laurel-texts"><p>2nd<br>Design<br>Challenge</p></div>
                        </div>
                    </div>
                    <div class="large-2 medium-2 small-2">
                        <div id="laurel" ><img src="/static/images/png/igvc-page-pics/laurel-wealth@2x.png"/>
                        <div id="laurel-texts"><p>6th<br>Cyber<br>Challenge</p></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-x grid-padding-y">
                <div class="medium-10 large-10 small-10 align-justify">
                        <div class = "orbit" role = "region" data-orbit data-use-m-u-i = "false">
                            <ul class = "orbit-container">
                                <button class = "orbit-previous" aria-label = "previous"><span class = "show-for-sr">Previous Slide</span>◀</button>
                                <button class = "orbit-next" aria-label = "next"><span class = "show-for-sr">Next Slide</span>▶</button>
                    
                                <li class = "is-active orbit-slide">
                                    <div>
                                        <p class = "text-center">MIT's Project MANAS emerges best at world meet.</p>
                                        <p class =  "text-center">-The Hindu</p>
                                    </div>
                                </li>
                    
                                <li class = "orbit-slide">
                                    <div>
                                        <p class = "text-center">Project MANAS bags first prize in USA</p>
                                        <p class="text-center">-Times of India</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function() {
            $(document).foundation();
        })
    </script>
</body>
</html>

            