<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  {% include header.html %}
  <link type="text/css" rel="stylesheet" href="{{ "/static/css/style.css" | prepend: site.baseurl }}" />
</head>

<body>

  <div class="jumbotron jumbotron-main" id="home" data-magellan-target="home">
    <div id="particles-js">
      <canvas class="particles-js-canvas-el"></canvas>
    </div>
    <div class="grid-container full home-container">
      <div class="grid-x">
        <div class="cell large-3 show-for-large home-left">
          <div class="grid-y text-right" style="height: 100vh;">
            <div class="cell large-4"></div>
            <div class="cell large-2 large-offset-3">
              <img src="/static/images/png/manas-logo-transparent.png" width="85%" height="85%" alt "Project MANAS Logo" />
            </div>
            <div class="cell large-6"></div>
          </div>
        </div>
        <div class="cell large-2 show-for-large home-center">
        </div>
        <div class="cell large-7 medium-12 small-12">
          <div class="grid-y grid-padding-y grid-padding-x home-right">
            <div class="cell large-5 medium-3 small-3 text-right">
              <img src="/static/images/png/mit-60.png" width="60px" alt="MIT 60 Years Logo" />
              <img src="/static/images/png/mit-logo.png" width="60px" alt="Manipal University Logo" />
            </div>
            <div class="cell large-3 medium-9 small-9" style="color: white; padding: 0; margin: 0 auto;">
              <img class="hide-for-large" id="home-logo" src="/static/images/png/manas-logo-gradient.png" alt="Project MANAS Logo" />
              <img src="/static/images/png/project-manas.png" id="home-logo-heading" alt "Project MANAS">
            </div>
            <div class="cell auto"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Main Container -->
  <div id="main-container">

    <!-- Navigation Bar -->
    {% include navigation.html %}



    <!-- About Section -->
    <section class="bg-white about-section text-center" id="about" data-magellan-target="about">
      <div class="grid-y grid-padding-y">
        <div class="cell large-2">
          <h1 class="black">About
            <span class="black">Us</span>
          </h1>

        </div>
        <div class="cell large-10">
          <p>
            Project MANAS is the official AI and Robotics team of MAHE, Manipal established in 2014.
          </p>
          <p>
            We are the Grand Prize winners and won the Lescoe Cup at the Intelligent Ground Vehicle Competition which is held at Michigan.
            Our aim is to build India’s first driverless car and are among the top 13 participants in the Mahindra’s Rise Prize challenge.
          </p>
          <br><br>
          <h3 class="orange">Vision & Mission</h3>
          <p>
            Project MANAS aims to inspire advanced research in Artificial Intelligence and oversee its implementation enabling automated systems to be made available to generous populous.
            Our mission is to uphold the tradition of pushing the limits of Artificial Intelligence and Bringing Bits to Life.
          </p>
        </div>
      </div>
    </section>


    <!-- Sponsors Section-->
    <section class="cell large-1 bg-black sponsors-section" id="sponsors" data-magellan-target="sponsors">
      <div class="grid-y grid-padding-y grid-padding-x text-center">
        <div class="cell large-2 white">
          <h1>Sponsors</h1>
        </div>
        <div class="cell large-10">
          <div class="grid-x grid-padding-x grid-padding-y">
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="continental">
              <a href="https://www.continental-corporation.com/en" target="_blank">
                <img src="/static/images/png/continental.png" alt="Continental" />
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="mahindra-rise">
              <a href="http://www.mahindra.com/" target="_blank">
                <img src="/static/images/png/mahindra-rise.png" alt="Mahindra Rise" />
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="sick">
              <a href="https://www.sick.com/in/en/" target="_blank">
                <img src="/static/images/png/sick.png" alt="SICK" />
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="nvidia">
              <a href="http://www.nvidia.in/page/home.html" target="_blank">
                <img src="/static/images/png/nvidia.png" alt="Nvidia" />
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="national-instruments">
              <a href="http://www.ni.com/en-in.html" target="_blank">
                <img src="/static/images/png/national-instruments.png" alt="National Instruments" />
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="ximea">
              <a href="https://www.ximea.com/" target="_blank">
                <img src="/static/images/png/ximea.png" alt="Ximea" />
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="microsoft">
              <a href="https://www.microsoft.com/en-in" target="_blank">
                <img src="/static/images/png/microsoft.png" alt="Microsoft" />
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="cooler-master">
              <a href="http://www.coolermaster.com/" target="_blank">
                <img src="/static/images/png/cooler-master.png" alt="Cooler Master" />
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="vector">
              <a href="https://vector.com/" target="_blank">
                <img src="/static/images/png/vector.png" alt="Vector">
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="gigabyte">
              <a href="https://www.gigabyte.com/in/" target="_blank">
                <img src="/static/images/png/gigabyte.png" alt="Gigabyte" />
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="pepperl-fuchs">
              <a href="https://www.pepperl-fuchs.com/india/hi/index.htm" target="_blank">
                <img src="/static/images/png/pepperl-fuchs-logo.png" alt="Pepperl Fuchs Logo" />
                <img src="/static/images/png/pepperl-fuchs-text.png" alt="Pepperl Fuchs" />
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="indian-bank">
              <a href="http://www.indianbank.in/" target="_blank">
                <img src="/static/images/png/indian-bank.png" alt="Indian Bank" />
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="sica">
              <a href="http://www.sica.in/" target="_blank">
                <img src="/static/images/png/sica.png" alt="SICA" />
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="bossard">
              <a href="https://www.bossard.com/" target="_blank">
                <img src="/static/images/png/bossard.png" alt="BOSSARD" />
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="veekay_impex">
              <a href="https://www.veekayimpex.com" target="_blank">
                <img src="/static/images/png/logo.png" alt="VEEKAY IMPEX" />
              </a>
            </div>
            <div class="cell large-2 medium-3 small-4 spnsr-logo" id="simscale">
              <a href="https://www.simscale.com" target="_blank">
                <img src="/static/images/png/simscale.png" alt="SIMSCALE" />
              </a>
            </div>

            <div class="cell large-2 medium-3 small-4 spnsr-logo sponsorship-button" data-magellan>
              <a href="#contact" onclick="sponsorshipContactTemplate();">
                <h4 class="white">Sponsor Us
                  <i class="fa fa-angle-right fa-sm"></i>
                </h4>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>


    <!-- Projects Section -->
    <section class="bg-white projects-section text-center" id="projects" data-magellan-target="projects">
      <div class="grid-y grid-padding-y">
        <div class="cell large-1">
          <h1 class="white">
            <span class="orange">Projects</span>
          </h1>
        </div>
        <div class="cell large-10">
          <div class="grid-x grid-padding-x align-center">

            {% for project in site.data.projects %}
            <div class="cell large-3 medium-4 small-12">
              {% unless project.hyperlink == nil %}
              <a href="{{ project.hyperlink }}" target="_blank">
                <div class="card project-card" id="{{ project.id }}">
                  <div class="card-section">
                    <h2 class="white">{{ project.hypertext}}</h2>
                  </div>
                </div>
              </a>
              {% endunless %}


              {% unless project.hyperlink != nil %}
              <a data-open="{{ project.id }}-popup">
                <div class="card project-card" id="{{ project.id }}">
                  <div class="card-section">
                    <h2 class="white">{{ project.name }}</h2>
                  </div>
                </div>
              </a>
              {% endunless %}

            </div>
            <div class="reveal" id="{{ project.id }}-popup" data-reveal>
              <h1>{{ project.name }}</h1>
              <p class="lead">Overview</p>
              <p>{{ project.overview }}</p>

              <button class="close-button" data-close aria-label="Close modal" type="button">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            {% endfor %}

          </div>
          <div class="cell large-1">
            <!-- <button class="hollow-black button" id="projects-button">View More</button> -->
          </div>
        </div>
      </div>
    </section>

    <section class="blog-feed-section bg-black">
      <div class="grid-y grid-padding-y">
        <div class="cell large-1 text-center">
          <h1 class="white">
            <span class="white">Recruitments</span>
          </h1>
          <a href="/recruitments" target="_blank"><h4 class="white">The Challenge questions are up and the clock is ticking. Are you ready for <span class="orange">IT</span>?</h4></a>
          </div>
        <div class="cell large-11">
        </div>
      </div>
    </section>

    <section class="instagram-section bg-white">
      <div class="grid-y grid-padding-y">
        <div class="cell large-1 text-center">
          <h1 class="white">
            <span class="orange">Instagram</span>
          </h1>
        </div>
        <div class="cell large-11">
          <div class="grid-x grid-padding-x grid-padding-y small-up-2 medium-up-2 large-up-4" id="instafeed">
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section" id="contact" data-magellan-target="contact">
      <div class="grid-y grid-padding-y">
        <div class="cell large-1">
          <center>
            <h1 class="white">
              <span class="orange">Contact</span> Us</h1>
          </center>
        </div>
        <div class="cell large-11">
          <div class="grid-x">
            <div class="cell large-4">
              <div class="grid-x grid-padding-x grid-padding-y">
                <div class="cell large-12 medium-6 contact-information">
                  <i class="fa fa-envelope fa-lg orange"></i>
                  <h6 class="white">team_leader@projectmanas.in</h6>
                  <h6 class="white">tech_head@projectmanas.in</h6>
                  <h6 class="white">team_manager@projectmanas.in</h6>
                </div>
                <div class="cell large-12 medium-6 contact-information">
                  <i class="fa fa-phone fa-lg orange"></i>
                  <h6 class="white">Shrijit Singh:
                    <small>+919427425742</small>
                  </h6>
                  <h6 class="white">Sahil Swaroop:
                    <small>+919182380171</small>
                  </h6>
                </div>
              </div>
            </div>
            <div class="cell large-6 medium-8 contact-form-container">
              <div class="callout orange hide" id="sponsorship-alert" data-closable="fade-out">
                <h5>Sponsorship Information</h5>
                <p>Read our
                  <u>
                    <a class="orange" target="_blank" href="/static/pdf/Project-Manas-Brochure-Web.pdf">brochure</a>
                  </u> for more information about sponsorship.</p>
                <p>For further details regarding the sponsorship please refer to our
                  <u>
                    <a class="orange" target="_blank" href="/static/pdf/Terms-and-Conditions-Project-Manas.pdf">terms and conditions</a>
                  </u>
                </p>
                <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form action="https://formspree.io/projectmanas.mit@gmail.com" method="POST">
                <div class="grid-container" class="contact-form">
                  <label>
                    <h6 class="white">Name</h6>
                    <input class="white" name="contact" type="text" id="contact-name" required>
                  </label>
                  <label>
                    <h6 class="white">Email</h6>
                    <input class="white" type="email" name="_replyto" id="contact-email" required>
                  </label>
                  <label>
                    <h6 class="white">Subject</h6>
                    <input class="white" type="text" name="subject" id="contact-subject" required>
                  </label>
                  <label>
                    <h6 class="white">Message</h6>
                    <textarea class="white" rows="6" name="contact-message" id="contact-message" required></textarea>
                  </label>
                  <input type="submit" class="button hollow-white float-right" id="submit" value="Submit">
                </div>
                <input type="hidden" name="_next" value="projectmanas.in" />
              </form>
            </div>
            <div class="cell large-3">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    {% include footer.html %}

</body>
{% include script.html %}
<script src="{{ "/static/js/instafeed.min.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript">
  var feed = new Instafeed({
    get: 'user',
    userId: 7034747676,
    accessToken: '7034747676.1677ed0.06457ba660704889b2c53e79050948ba',
    // clientId: '9e4435eb18ca4a99b12a05022dad0404',
    target: 'instafeed',
    template: '<a href="{% raw %} {{link}} {% endraw %}"<div class="cell"><div class="card"> <div class="card-section"> <img src="{% raw %} {{image}} {% endraw %}"> </div> <div class="card-section"><p class="text-center">{% raw %} {{caption}} {% endraw %}</p> </div> </div></div></a>',
    resolution: 'standard_resolution',
    limit: 4,
    after: function() {
      var el = document.getElementById('instafeed');
      if (el.classList)
        el.classList.add('show');
      else
        el.className += ' ' + 'show';
    }
  });
  feed.run();
  $(document).foundation();
  $('.nav-sticky').on('sticky.zf.stuckto:top', function() {
    $(".top-bar-title").css({
      "opacity": 1,
    });
  }).on('sticky.zf.unstuckfrom:top', function() {
    $(".top-bar-title").css({
      "opacity": 0,
    });
  })
</script>

</html>
