<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  {% include header.html %}
  <link type="text/css" rel="stylesheet" href="{{ "/static/css/blog.css" | prepend: site.baseurl }}" />
  <link type="text/css" rel="stylesheet" href="{{ "/static/css/post.css" | prepend: site.baseurl }}" />
  <!-- <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
</head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107451406-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-107451406-1');
</script>
<body>

  <!-- Navigation Bar -->
  {% include navigation.html %}

  <!-- Main Container -->
  <div id="main-container">
    <!-- Header -->
    <section class="header text-center">
      <div class="header-content">
      <div class="site-title-content">
        <div class="blog-title">
            <h1 class="black">MANAS BLOG</h1>
        </div>
        <div class="blog-description">
            <h4>Decoding bits for you</h4>
        </div>
      </div>
      <div class="binary-backround">
        <div class="num">01001001010001010100001101010011010001010101001101110101011000110110101101110011</div>
      </div>
      <div class="buzz-background">
        <div class="buzz">ProjectManasArtificialIntelligenceRoboticsAutonomusBotIGVCSelfDrivingCar</div>
      </div>
    </div>
    </section>


    <section class="blog blog-post">
            <div class="post">
              <img class="post-featured-img" src="/{{page.feature-img}}">
              <div class="article">
              <h3 class="title">{{ page.title }}</h3>
              <span class="author">{{ page.author }}</span><span class="date">{{ page.date | date_to_string }}</span>
                <p class="content">
                  {{ content }}
                </p>
              </div>
            </div>
    </section>

    <!-- Footer -->
    {% include footer.html %}

  </div>

</body>
{% include script.html %}

<script>

  $(document).ready(function() {
  var lines = 20;
  var textLength = $('#main-container').innerWidth() / 16;


  for (i = 0; i < lines - 1; i++) {
    $(".num").first().clone().insertAfter($(".num").first());
    $(".buzz").first().clone().insertAfter($(".buzz").first());
  }

  buzz =["Cryptography", "AritificialIntelligence", "Robotics", "Blockchain", "DeepMind", "NeuralNetwork", "BackPropogation", "Convolution", "Tensorflow"]

  function getRandomInt(max) {
  return Math.floor(Math.random() * Math.floor(max));
}
  console.log($('#main-container').innerWidth())
  setInterval(function() {
    $(".num").each(function() {
      if ($(this).text().length < textLength) {
        $(this).text(($(this).text() + Math.round(Math.random())));
      } else {
        $(this).text(Math.round(Math.random()) + $(this).text().substring(0, textLength - 1))
      }
    });

  }, 50);
  setInterval(function() {
    $(".buzz").each(function() {
      if ($(this).text().length < textLength) {
        $(this).text(($(this).text() + buzz[getRandomInt(9)]));
      } else {
        // $(this).text(buzz[getRandomInt(9)] + $(his).text().substring(0, $(this).text().length - 1))
        $(this).text(buzz[getRandomInt(9)] + $(this).text().substring(0, textLength - 1))
      }
    });

  }, 150);

});


  var today = new Date()
  var year = today.getFullYear()
  document.getElementById("year").innerHTML = year
</script>

</html>
