<!doctype html>
<html>
	<head>
	<meta charset ="utf-8">
	<title>SOLO</title>
	<link rel="stylesheet" href="../static/css/projects.css">
	</head>
	<body>z
		<div class= "container" data-0="transform:translateX(0%)" data-4000="transform:translateX(-300%)">
			<section>
				<div class="ProjImage">
					<img src = "sample-no-bg.png" alt = "SOLO image" class="mainImg img-responsive" >
				</div>
				<div class="projDesc">
					<h1></h1>
					<h2>Stuff about SOLO</h2>
					<p> [about solo]</p>
				</div>
			</section>
			<section>
				<div class="ProjImage">
					<img src = "img.jpg">
				</div>
				<div class="projDesc">
					<h2>Stuff about ADAM</h2>
					<p> [add info about Adam]</p>
				</div>
			</section>
			<section>
				<div class="ProjImage">
					<img src = "img.jpg">
				</div>
				<div class="projDesc">
					<h2>Stuff about Mahindra</h2>
					<p> [add info about Mahindra]</p>
				</div>
			</section>
		</div>
		<script type="text/javascript" src="../static/js/skrollr.js">
		</script>
		<script type="text/javascript">
			skrollr.init();
		</script>
	</body>
</html>