<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <!-- <meta name="viewport" content="width=device-width,initial-scale=1"> -->
  <title>SOLO:A MONTAGE</title>


  <link type="text/css" rel="stylesheet" href="/static/css/foundation.min.css" />
  <link type="text/css" rel="stylesheet" href="/static/css/common.css" />
  <link type="text/css" rel="stylesheet" href="{{ "/static/css/solo.css" | prepend: site.baseurl }}" />
  <link type="text/css" rel='stylesheet' href="{{ "/static/css/animations.css" | prepend: site.baseurl }}" />
  <script src="/static/js/vendor/jquery.min.js"></script>
  <script src="/static/js/vendor/reel.min.js" type="text/javascript"></script>



  <link rel="stylesheet" type="text/css" href="/static/slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="/static/slick/slick-theme.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body>
  <div id="desktop-view">
    <div class='horizontal-scroll'>

      <div class="grid-container full" id="landing_container">



        <div class="grid-x">

          <div class="cell large-5 medium-5 small-5 large-offset-1 medium-offset-1 small-offset-1">

            <div class="grid-y" style="height: 100vh;">

              <div class="cell large-1 medium-1 small-1"></div>

              <div class="cell large-4 medium-4 small-4 float-center" id="solo-box-text">
                <h1 id="solo-logo">SOLO</h1>
              </div>

              <script src="/static/js/vendor/fittext.js"></script>
              <script>
                jQuery("#solo-box-text").fitText();
              </script>

              <div class="cell large-1 medium-1 small-1">
                <p id="solo-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
              </div>





              <div class="cell large-2 medium-2 small-2">

                <div class="grid-x" style="width: 40vw;">
                  <!-- <div class="cell large-1 medium-1 small-1" style="margin-left: 2px"></div> -->


                  <!-- <div class="grid-container"> -->
                  <div id="spec-img-height" class="cell large-auto medium-auto small-auto animated fadeInUp">
                    <div class="card" style="padding: 10%; padding-bottom: 0px;">
                      <img width="100%" height="100%" src="/static/images/png/solo_devel_pics/height@2x.png">
                      <div class="card-section solo-img-height-text">
                        <p class="text-center" style="margin: 0px; padding: 0px; border: 0px; font-size: 1vw"><strong>1.21</strong></p>
                        <p class="text-center" style="margin: 0px; padding: 0px; border: 0px; font-size: 1vw;">meters</p>
                      </div>
                    </div>
                  </div>


                  <!-- </div> -->


                  <div id="spec-img-weight" class="cell large-auto  medium-auto small-auto animated fadeInUp">
                    <div class="card" style="padding: 10%; padding-bottom: 0px;">
                      <img width="100%" height="100%" src="/static/images/png/solo_devel_pics/weight@2x.png">
                      <div class="card-section solo-img-height-text">
                        <p class="text-center" style="margin: 0px; padding: 0px; border: 0px; font-size: 1vw"><strong>66</strong></p>
                        <p class="text-center" style="margin: 0px; padding: 0px; border: 0px; font-size: 1vw">KGs</p>
                      </div>
                    </div>
                  </div>


                  <div id="spec-img-payload" class="cell large-auto medium-auto small-auto animated fadeInUp">
                    <div class="card" style="padding: 10%; padding-bottom: 0px;">
                      <img width="100%" height="100%" src="/static/images/png/solo_devel_pics/payload@2x.png">
                      <div class="card-section solo-img-payload-text">
                        <p class="text-center" style="margin: 0px; padding: 0px; border: 0px; font-size: 1vw"><strong>20</strong></p>
                        <p class="text-center" style="margin: 0px; padding: 0px; border: 0px; font-size: 1vw">KGs</p>
                      </div>
                    </div>
                  </div>

                  <div id="spec-img-zed" class="cell large-auto  medium-auto small-auto animated fadeInUp">
                    <div class="card" style="padding: 10%; padding-bottom: 0px;">
                      <img width="100%" height="100%" src="/static/images/png/solo_devel_pics/stereocam@2x.png">
                      <div class="card-section solo-img-zed-text">
                        <p class="text-center" style="margin: 0px; padding: 0px; border: 0px; font-size: 1vw"><strong>ZED</strong></p>
                        <p class="text-center" style="margin: 0px; padding: 0px; border: 0px; font-size: 1vw">stereocam</p>
                      </div>
                    </div>
                  </div>

                  <div id="spec-img-ins" class="cell large-auto  medium-auto small-auto animated fadeInUp">
                    <div class="card" style="padding: 10%; padding-bottom: 0px;">
                      <img width="100%" height="100%" src="/static/images/png/solo_devel_pics/imu@2x.png">
                      <div class="card-section solo-img-imu-text">
                        <p class="text-center" style="margin: 0px; padding: 0px; border: 0px; font-size: 1vw"><strong>IMU</strong></p>
                        <!-- <p class="text-center" style="margin: 0px; padding: 0px; border: 0px;">meters</p> -->
                      </div>
                    </div>
                  </div>

                  <div id="spec-img-gps" class="cell large-auto  medium-auto small-auto animated fadeInUp">
                    <div class="card" style="padding: 10%; padding-bottom: 0px;">
                      <img width="100%" height="100%" src="/static/images/png/solo_devel_pics/gps@2x.png">
                      <div class="card-section solo-img-gps-text">
                        <p class="text-center" style="margin: 0px; padding: 0px; border: 0px; font-size: 1vw"><strong>GPS</strong></p>
                        <!-- <p class="text-center" style="margin: 0px; padding: 0px; border: 0px;">meters</p> -->
                      </div>
                    </div>
                  </div>
                  <div id="spec-img-lidar" class="cell large-auto  medium-auto small-auto  animated fadeInUp">
                    <div class="card" style="padding: 10%; padding-bottom: 0px;">
                      <img width="100%" height="100%" src="/static/images/png/solo_devel_pics/lidar@2x.png">
                      <div class="card-section solo-img-lidar-text">
                        <p class="text-center" style="margin: 0px; padding: 0px; border: 0px; font-size: 1vw"><strong>3D</strong></p>
                        <p class="text-center" style="margin: 0px; padding: 0px; border: 0px; font-size: 1vw">Lidar</p>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="cell large-7 medium-7 small-7"></div> -->
                </div>
              </div>
              <div class="cell large-1 medium-1 small-1"></div>
              <!-- <div class="cell large-1 medium-1"></div> -->
              <div class="grid-x" style="width: 40vw">
                <div class="cell large-2 medium-4"></div>
                <div class="cell shrink pic-fix">
                  <button class="button animated fadeIn " style="margin-left: 3vw; "><a href="https://shrijitsingh.com/manas-demos/" target="_blank">INTERACTIVE MODE</a></button>
                </div>
              </div>
            </div>
          </div>

          <div class="cell large-auto medium-auto small-auto float-right large-offset-1 medium-offset-1">
            <div class="grid-y" style="height: 50vh">
              <div class="cell large-3 medium-3 small-3"></div>
              <div id="solo-image"><img style="" src="/static/images/png/solo_devel_pics/sample-no-bg@2x.png"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="mobile-view">
    <div class='horizontal-scroll'>

      <div class="grid-container full">



        <div class="grid-y" id="landing_container">


          <div class="cell medium-shrink small-shrink small-screen-enable float-center">
            <div id="solo-image"><img style="" src="/static/images/png/solo_devel_pics/sample-no-bg@2x.png"></div>
          </div>


          <div class="cell large-4 medium-2 small-2">
            <div class="grid-x ">

              <!-- <div class="cell large-1 medium-1 "></div> -->
              <div class="cell medium-12 small-12" id="solo-box-text">
                <h1 id="solo-logo">SOLO</h1>
              </div>


              <!-- <div class="cell large-2 medium-2"></div> -->
              <!-- <div class="cell large-auto medium-auto"> -->
              <!-- <div id="solo-image" class="pic-fix"><img style="" src="/static/images/png/solo_devel_pics/sample-no-bg@2x.png"></div> -->
            </div>

          </div>



          <!-- <div class="cell small-1"></div> -->
          <div class="cell medium-1 small-1">
            <div class="grid-x">
              <div class="cell medium-1 small-1"></div>
              <div class="cell medium-10 small-10">
                <p id="solo-caption">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna </p>
              </div>
            </div>
          </div>

          <div class"cell medium-3 small-3"></div>


          <!-- <div class"cell large-1"></div> -->
          <!-- <div class="cell large-1"> -->
          <div class="cell small-auto medium-auto ">

            <div class="grid-x grid-margin-x">
              <div class="cell medium-2 small-2"></div>
              <!-- <div class="cell large-1 medium-1 small-1" style="margin-left: 2px"></div> -->


              <!-- <div class="grid-container"> -->
              <div id="spec-img-height" class="cell medium-2 small-2 animated fadeInUp first-row-fix">
                <div class="card">
                  <img width="100%" height="100%" src="/static/images/png/solo_devel_pics/height@2x.png">
                  <div class="card-section solo-img-height-text">
                    <p class="text-center font-fix" style="margin: 0px; padding: 0px; border: 0px; font-size: 1.5vmax"><strong>1.21</strong></p>
                    <p class="text-center font-fix" style="margin: 0px; padding: 0px; border: 0px; font-size: 1.5vmax;">meters</p>
                  </div>
                </div>
              </div>


              <!-- </div> -->


              <div id="spec-img-weight" class="cell medium-2 small-2 animated fadeInUp first-row-fix">
                <div class="card">
                  <img width="100%" height="100%" src="/static/images/png/solo_devel_pics/weight@2x.png">
                  <div class="card-section solo-img-height-text">
                    <p class="text-center font-fix" style="margin: 0px; padding: 0px; border: 0px; font-size: 1.5vmax"><strong>66</strong></p>
                    <p class="text-center font-fix" style="margin: 0px; padding: 0px; border: 0px; font-size: 1.5vmax">KGs</p>
                  </div>
                </div>
              </div>


              <div id="spec-img-payload" class="cell medium-2 small-2 animated fadeInUp first-row-fix">
                <div class="card">
                  <img width="100%" height="100%" src="/static/images/png/solo_devel_pics/payload@2x.png">
                  <div class="card-section solo-img-payload-text">
                    <p class="text-center font-fix" style="margin: 0px; padding: 0px; border: 0px; font-size: 1.5vmax"><strong>20</strong></p>
                    <p class="text-center font-fix" style="margin: 0px; padding: 0px; border: 0px; font-size: 1.5vmax">KGs</p>
                  </div>
                </div>
              </div>

              <div id="spec-img-zed" class="cell medium-2 small-2 animated fadeInUp first-row-fix">
                <div class="card">
                  <img width="100%" height="100%" src="/static/images/png/solo_devel_pics/stereocam@2x.png">
                  <div class="card-section solo-img-zed-text">
                    <p class="text-center font-fix" style="margin: 0px; padding: 0px; border: 0px; font-size: 1.5vmax"><strong>ZED</strong></p>
                    <p class="text-center font-fix" style="margin: 0px; padding: 0px; border: 0px; font-size: 1.2vmax">stereocam</p>
                  </div>
                </div>
              </div>
              <div class="cell medium-2 small-2"></div>


              <div class="cell medium-3 small-3"></div>
              <div id="spec-img-ins" class="cell medium-2 small-2 animated fadeInUp second-row-fix">
                <div class="card">
                  <img width="100%" height="100%" src="/static/images/png/solo_devel_pics/imu@2x.png">
                  <div class="card-section solo-img-imu-text">
                    <p class="text-center font-fix" style="margin: 0px; padding: 0px; border: 0px; font-size: 1.5vmax"><strong>IMU</strong></p>
                    <!-- <p class="text-center" style="margin: 0px; padding: 0px; border: 0px;">meters</p> -->
                  </div>
                </div>
              </div>

              <div id="spec-img-gps" class="cell medium-2 small-2 animated fadeInUp second-row-fix">
                <div class="card">
                  <img width="100%" height="100%" src="/static/images/png/solo_devel_pics/gps@2x.png">
                  <div class="card-section solo-img-gps-text">
                    <p class="text-center font-fix" style="margin: 0px; padding: 0px; border: 0px; font-size: 1.5vmax"><strong>GPS</strong></p>
                    <!-- <p class="text-center" style="margin: 0px; padding: 0px; border: 0px;">meters</p> -->
                  </div>
                </div>
              </div>
              <div id="spec-img-lidar" class="cell medium-2 small-2 animated fadeInUp second-row-fix">
                <div class="card">
                  <img width="100%" height="100%" src="/static/images/png/solo_devel_pics/lidar@2x.png">
                  <div class="card-section solo-img-lidar-text">
                    <p class="text-center font-fix" style="margin: 0px; padding: 0px; border: 0px; font-size: 1.5vmax"><strong>3D</strong></p>
                    <p class="text-center font-fix" style="margin: 0px; padding: 0px; border: 0px; font-size: 1.5vmax">Lidar</p>
                  </div>
                </div>
              </div>
              <div class="cell small-2 medium-2"></div>
              <!-- <div class="cell large-6"></div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>








</body>

</html>
