<!DOCTYPE html>
<html class="no-js" lang="en" dir="ltr">

<head>
  {% include header.html %}
  <link type="text/css" rel="stylesheet" href="{{ "/static/css/team.css" | prepend: site.baseurl }}" />
</head>

<body>
  {% include navigation.html %}

  <!-- Main Container -->
  <div class="grid-y" id="main-container">

    <!-- Team Section -->
    <div class="cell large-12 bg-white team-section text-center" id="team" data-magellan-target="about">
      <div class="grid-y grid-padding-y float-center">
        <div class="cell large-2">
          <h1 class="black">Our
            <span class="orange">Team</span>
          </h1>
        </div>
        <div class="cell large-10">
          <div class="grid-x">
            {% for member in site.data.members %}
              <div class="cell large-2 medium-3 small-4">
                <div class="card profile">
                  {% unless member.image == nil %}
                  <div class="profile-image" style="background-image: url({{member.image}})">
                  </div>
                  {% endunless %}
                  <div class="profile-social">
                    {% unless member.facebook == nil %}
                    <a href="{{ member.facebook }}">
                      <i class="fa fa-facebook social-icons"></i>
                    </a>
                    {% endunless %}
                    {% unless member.mail == nil %}
                    <a href="{{ member.mail }}">
                      <i class="fa fa-envelope social-icons"></i>
                    </a>
                    {% endunless %}
                    {% unless member.linkedin == nil %}
                    <a href="{{ member.linkedin }}">
                      <i class="fa fa-linkedin social-icons"></i>
                    </a>
                    {% endunless %}
                    {% unless member.github == nil %}
                    <a href="{{ member.github }}">
                      <i class="fa fa-github social-icons"></i>
                    </a>
                    {% endunless %}
                  </div>
                  <div class="profile-about">
                    <h5 data-nickname="{{ member.nickname }}">
                      <span>{{ member.name }}</span>
                    </h5>
                    <p>{{ member.designation }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>


    <!-- Mentors Section -->
    <div class="cell large-12 bg-white team-section text-center" id="mentor" data-magellan-target="about">
      <div class="grid-y grid-padding-y float-center">
        <div class="cell large-2">
          <h1 class="orange">Our
            <span class="black">Mentors</span>
          </h1>
        </div>
        <div class="cell large-10">
          <div class="grid-x">
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/ashalatha-nayak.jpg)">
                </div>
                <div class="profile-social">
                  <a href="mailto:asha.nayak@manipal.edu">
                    <i class="fa fa-envelope social-icons"></i>
                  </a>
                  <a href="https://manipal.edu/mit/department-faculty/faculty-list/ashalatha-nayak.html">
                    <i class="fa fa-globe social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Dr. Ashalatha Nayak</span>
                  </h5>
                  <p data-title="Professor & HOD - Department of CSE, MIT">
                    <span>Faculty Advisor</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/mukund-kumar-menon.jpg)">
                </div>
                <div class="profile-social">
                  <a href="mailto:mukund.menon@manipal.edu">
                    <i class="fa fa-envelope social-icons"></i>
                  </a>
                  <a href="https://manipal.edu/mit/department-faculty/faculty-list/mukund-kumar-menon.html">
                    <i class="fa fa-globe social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Mr. Mukund Kumar Menon</span>
                  </h5>
                  <p data-title="Assistant Professor (Sr. Scale) - Department of I&C, MIT">
                    <span>Faculty Mentor</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/shreyansh-daftry.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/shreyansh-daftry-aa946821/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                  <a href="https://www-robotics.jpl.nasa.gov/people/Shreyansh_Daftry/">
                    <i class="fa fa-globe social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Mr. Shreyansh Daftry</span>
                  </h5>
                  <p data-title="Robotics Technologist at NASA Jet Propulsion Laboratory">
                    <span>External Mentors</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/reuben-john.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/reubenmvjohn/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Reuben John</span>
                  </h5>
                  <p data-title="Tech Head (April, 2016 - March, 2017)">
                    <span>Tech Head (April, 2016 - March, 2017)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/ashish-mehta.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/ashishmehta95/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Ashish Mehta</span>
                  </h5>
                  <p data-title="Mentor (March 2017 - Present)">
                    <span>Team Leader (April, 2016 - March, 2017)</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/fateh-singh.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/fateh-singh-23853911a/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Fateh Singh</span>
                  </h5>
                  <p data-title="Mentor (March, 2017 - Present)">
                    <span>AI Member (April, 2016 - March, 2017)</span>
                  </p>
                </div>
              </div>
            </div> -->
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/sarthake-choudary.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/sarthake-choudhary-028808138/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Sarthake Choudhary</span>
                  </h5>
                  <p data-title="Mentor (March, 2018 - Present)">
                    <span>Team Leader (March, 2017 - March, 2018)</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/raj-nunes.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/nunesrajrichard/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Raj Nunes</span>
                  </h5>
                  <p data-title="Mentor (March, 2018 - Present)">
                    <span>Team Leader (May, 2017 - March, 2018)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/vignesh-iyer.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.facebook.com/dheeraj.r.reddy">
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Vignesh Iyer</span>
                  </h5>
                  <p data-title="Mentor (March, 2018 - Present)">
                    <span>Team Manager (2017 - March, 2018)</span>
                  </p>
                </div>
              </div>
            </div> -->
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/pranav-jain.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/pranav110">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Pranav Jain</span>
                  </h5>
                  <p data-title="Mentor (March, 2018 - Present)">
                    <span>Mechanical Head (March, 2017 - March, 2018)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/kartikey-agarwal.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/kartikey-agrawal-0842a013a/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Kartikey Agarwal</span>
                  </h5>
                  <p data-title="Mentor (March, 2018 - Present)">
                    <span>SnA Head (March, 2017 - March, 2018)</span>
                  </p>
                </div>
              </div>
            </div>
            <!-- <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/abhishek-yadav.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/abhishek-yadav-seb/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Abhishek Yadav</span>
                  </h5>
                  <p data-title="Mentor (March, 2018 - Present)">
                    <span>AI Member (March, 2017 to March, 2018)</span>
                  </p>
                </div>
              </div>
            </div> -->
            {% for mentor in site.data.mentors %}
              <div class="cell large-2 medium-3 small-4">
                <div class="card profile">
                  {% unless mentor.image == nil %}
                  <div class="profile-image" style="background-image: url(/static/images/profile/{{mentor.image}}); background-repeat: no-repeat;">
                  </div>
                  {% endunless %}
                  <div class="profile-social">
                    {% unless mentor.facebook == nil %}
                    <a href="{{ mentor.facebook }}">
                      <i class="fa fa-facebook social-icons"></i>
                    </a>
                    {% endunless %}
                    {% unless mentor.mail == nil %}
                    <a href="{{ mentor.mail }}">
                      <i class="fa fa-envelope social-icons"></i>
                    </a>
                    {% endunless %}
                    {% unless mentor.linkedin == nil %}
                    <a href="{{ mentor.linkedin }}">
                      <i class="fa fa-linkedin social-icons"></i>
                    </a>
                    {% endunless %}
                    {% unless mentor.github == nil %}
                    <a href="{{ mentor.github }}">
                      <i class="fa fa-github social-icons"></i>
                    </a>
                    {% endunless %}
                  </div>
                  <div class="profile-about">
                    <h5 data-nickname="{{ mentor.nickname }}">
                      <span>{{ mentor.name }}</span>
                    </h5>
                    <p>{{ mentor.designation }}</p>
                  </div>
                </div>
              </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </div>


    <!-- Alumni Section -->
    <div class="cell large-12 bg-white team-section text-center" id="alumni" data-magellan-target="about">
      <div class="grid-y grid-padding-y float-center">
        <div class="cell large-2">
          <h1 class="black">Our
            <span class="orange">Alumni</span>
          </h1>
        </div>
        <div class="cell large-10">
          <div class="grid-x">
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/kumar-ranjan.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.facebook.com/thelostmechanic">
                    <i class="fa fa-facebook social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Kumar Ranjan</span>
                  </h5>
                  <p data-title="Team Leader (March, 2014 - July, 2015)">
                    <span>Co-Founder</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/roshan-prakash.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://in.linkedin.com/in/roshan-prakash-042ab9b1">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Roshan Prakash</span>
                  </h5>
                  <p data-title="Team Leader (July, 2015 - April, 2016)">
                    <span>Co-Founder</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/subham-verma.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://in.linkedin.com/in/shubhamvrm">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Shubham Verma</span>
                  </h5>
                  <p data-title="AI Head (March, 2014 - December, 2015)">
                    <span>AI Head (March, 2014 - December, 2015)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/tushar-sinha.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/tushar-sinha-7ba08258/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Tushar Sinha</span>
                  </h5>
                  <p data-title="Team Managar (July, 2015 - April, 2016)">
                    <span>Team Managar (July, 2015 - April, 2016)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/akash-deep.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/akash-deep-tyagi-394ab7106/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Akash Deep</span>
                  </h5>
                  <p data-title="SnA Division Head (July, 2015 - April, 2016)">
                    <span>SnA Division Head (July, 2015 - April, 2016)</span>
                  </p>
                </div>
              </div>
            </div>

            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/surya-phatak.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/surya-phatak-a35b80118/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Surya Phatak</span>
                  </h5>
                  <p data-title="Team Manager (April, 2016 - March, 2017)">
                    <span>Team Manager (April, 2016 - March, 2017)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/karthik-chari.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/kartikchari/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Karthik Chari</span>
                  </h5>
                  <p data-title="SnA Head (April, 2016 - March, 2017)">
                    <span>SnA Head (April, 2016 - March, 2017)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/tanay-verma.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/tanayvarma123/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Tanay Verma</span>
                  </h5>
                  <p data-title="Mechanical Head (April, 2016 - March, 2017)">
                    <span>Mechanical Head (April, 2016 - March, 2017)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/yash-bansod.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/yashbansod/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Yash Bansod</span>
                  </h5>
                  <p data-title="Automation Head (April, 2016  March, 2017)">
                    <span>Automation Head (April, 2016  March, 2017)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/phanikrishna-kalluri.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/phanikrishna-kalluri-6b5b45118/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Phanikrishna Kalluri</span>
                  </h5>
                  <p data-title="Mechanics Head (April, 2016  March, 2017)">
                    <span>Mechanics Head (April, 2016  March, 2017)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/kaushik-nath.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/kaushikmit/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Kaushik Nath</span>
                  </h5>
                  <p data-title="Perception Head (September, 2015 - August, 2016)">
                    <span>Perception Head (September, 2015 - August, 2016)</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="cell large-2 medium-3 small-4">
              <div class="card profile">
                <div class="profile-image" style="background-image: url(static/images/jpg/profile/debang-sharma.jpg)">
                </div>
                <div class="profile-social">
                  <a href="https://www.linkedin.com/in/dbngshrma/">
                    <i class="fa fa-linkedin social-icons"></i>
                  </a>
                </div>
                <div class="profile-about">
                  <h5>
                    <span>Debang Sharma</span>
                  </h5>
                  <p data-title="SnA Member (April, 2016 - March, 2017)">
                    <span>SnA Member (April, 2016 - March, 2017)</span>
                  </p>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
  {% include footer.html %}

</body>
{% include script.html %}

</html>
